backup-github-AmZtAoTWaJAwZWOb.json
{"updatedAt":"2025-09-09T20:14:58.601Z","createdAt":"2025-09-03T14:42:40.899Z","id":"AmZtAoTWaJAwZWOb","name":"Backup Github","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"800ecfa9-5d73-4c4b-8ff0-99713b249649","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1584,128],"disabled":true},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"hrikrdo","mode":"list","cachedResultName":"hrikrdo","cachedResultUrl":"https://github.com/hrikrdo"},"repository":{"__rl":true,"value":"backup_n8n_hrikrdo","mode":"list","cachedResultName":"backup_n8n_hrikrdo","cachedResultUrl":"https://github.com/hrikrdo/backup_n8n_hrikrdo"},"filePath":"="},"id":"224d161a-0651-4f45-b38d-b1e78b67ef9d","name":"Listar archivos del repositorio [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1360,272],"alwaysOutputData":true,"webhookId":"b1b57005-3513-4ee3-9a5e-5fcde4607f75","credentials":{"githubApi":{"id":"XIr2h7n5IJEyX9W6","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"2b879716-41a4-4955-9a5b-5bcb0a1e6b20","name":"Combinar nombres de archivo [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1136,272]},{"parameters":{"filters":{},"requestOptions":{}},"id":"5be7e4c3-beb9-4743-84c6-457962aa7d00","name":"Obtener flujos de trabajo [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-912,272],"credentials":{"n8nApi":{"id":"X09GVMId1kr4f1G9","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"98b5fa0a-73af-417c-9b8a-e75e7746bef5","name":"Mover JSON a binario","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-688,272]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Combinar nombres de archivo [GITHUB]').item.json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"738d5619-0652-4be6-9be7-6cd120a0d57c","name":"Verificar si el archivo existe en el repositorio","type":"n8n-nodes-base.if","typeVersion":1,"position":[-288,16]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"hrikrdo","mode":"list","cachedResultName":"hrikrdo","cachedResultUrl":"https://github.com/hrikrdo"},"repository":{"__rl":true,"value":"backup_n8n_hrikrdo","mode":"list","cachedResultName":"backup_n8n_hrikrdo","cachedResultUrl":"https://github.com/hrikrdo/backup_n8n_hrikrdo"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $now.format('MM-dd-yyyy/HH:mm') }}"},"id":"5c86bc9d-d327-4aa3-a5e2-35f767b4d3de","name":"Actualizar archivo [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"webhookId":"7962a5ef-773c-4aaa-ac7e-e1305dab2ce1","credentials":{"githubApi":{"id":"XIr2h7n5IJEyX9W6","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"hrikrdo","mode":"list","cachedResultName":"hrikrdo","cachedResultUrl":"https://github.com/hrikrdo"},"repository":{"__rl":true,"value":"backup_n8n_hrikrdo","mode":"list","cachedResultName":"backup_n8n_hrikrdo","cachedResultUrl":"https://github.com/hrikrdo/backup_n8n_hrikrdo"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup- {{ $now.format('MM-dd-yyyy/HH:mm') }}"},"id":"b3970044-1a2b-47bf-afa3-38ff0de736bd","name":"Cargar archivo [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-16,320],"webhookId":"d0a2b8f3-2abd-477c-bc4c-01d60fedb356","credentials":{"githubApi":{"id":"XIr2h7n5IJEyX9W6","name":"GitHub account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-464,272],"id":"a55d8023-7acb-4979-ad9d-f0f1e78d49f4","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1584,320],"id":"558d5351-cc37-4052-b375-614c783ec1d8","name":"Schedule Trigger"}],"connections":{"Execute workflow":{"main":[[{"node":"Listar archivos del repositorio [GITHUB]","type":"main","index":0}]]},"Listar archivos del repositorio [GITHUB]":{"main":[[{"node":"Combinar nombres de archivo [GITHUB]","type":"main","index":0}]]},"Obtener flujos de trabajo [N8N]":{"main":[[{"node":"Mover JSON a binario","type":"main","index":0}]]},"Combinar nombres de archivo [GITHUB]":{"main":[[{"node":"Obtener flujos de trabajo [N8N]","type":"main","index":0}]]},"Verificar si el archivo existe en el repositorio":{"main":[[{"node":"Actualizar archivo [GITHUB]","type":"main","index":0}],[{"node":"Cargar archivo [GITHUB]","type":"main","index":0}]]},"Actualizar archivo [GITHUB]":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Cargar archivo [GITHUB]":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Mover JSON a binario":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Verificar si el archivo existe en el repositorio","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Listar archivos del repositorio [GITHUB]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-08-04T18:02:18.642-05:00","Readable date":"August 4th 2025, 6:02:18 pm","Readable time":"6:02:18 pm","Day of week":"Monday","Year":"2025","Month":"August","Day of month":"04","Hour":"18","Minute":"02","Second":"18","Timezone":"America/Bogota (UTC-05:00)"}}]},"versionId":"6ed9b252-b20a-409d-a934-3d67f5b013e2","activeVersionId":"6ed9b252-b20a-409d-a934-3d67f5b013e2","triggerCount":1,"shared":[{"updatedAt":"2025-09-03T14:42:40.899Z","createdAt":"2025-09-03T14:42:40.899Z","role":"workflow:owner","workflowId":"AmZtAoTWaJAwZWOb","projectId":"CwKCrQjkqCThgTMp"}],"activeVersion":{"updatedAt":"2025-12-05T16:48:35.313Z","createdAt":"2025-12-05T16:48:35.313Z","versionId":"6ed9b252-b20a-409d-a934-3d67f5b013e2","workflowId":"AmZtAoTWaJAwZWOb","nodes":[{"parameters":{},"id":"800ecfa9-5d73-4c4b-8ff0-99713b249649","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1584,128],"disabled":true},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"hrikrdo","mode":"list","cachedResultName":"hrikrdo","cachedResultUrl":"https://github.com/hrikrdo"},"repository":{"__rl":true,"value":"backup_n8n_hrikrdo","mode":"list","cachedResultName":"backup_n8n_hrikrdo","cachedResultUrl":"https://github.com/hrikrdo/backup_n8n_hrikrdo"},"filePath":"="},"id":"224d161a-0651-4f45-b38d-b1e78b67ef9d","name":"Listar archivos del repositorio [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1360,272],"alwaysOutputData":true,"webhookId":"b1b57005-3513-4ee3-9a5e-5fcde4607f75","credentials":{"githubApi":{"id":"XIr2h7n5IJEyX9W6","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"2b879716-41a4-4955-9a5b-5bcb0a1e6b20","name":"Combinar nombres de archivo [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1136,272]},{"parameters":{"filters":{},"requestOptions":{}},"id":"5be7e4c3-beb9-4743-84c6-457962aa7d00","name":"Obtener flujos de trabajo [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-912,272],"credentials":{"n8nApi":{"id":"X09GVMId1kr4f1G9","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"98b5fa0a-73af-417c-9b8a-e75e7746bef5","name":"Mover JSON a binario","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-688,272]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Combinar nombres de archivo [GITHUB]').item.json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"738d5619-0652-4be6-9be7-6cd120a0d57c","name":"Verificar si el archivo existe en el repositorio","type":"n8n-nodes-base.if","typeVersion":1,"position":[-288,16]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"hrikrdo","mode":"list","cachedResultName":"hrikrdo","cachedResultUrl":"https://github.com/hrikrdo"},"repository":{"__rl":true,"value":"backup_n8n_hrikrdo","mode":"list","cachedResultName":"backup_n8n_hrikrdo","cachedResultUrl":"https://github.com/hrikrdo/backup_n8n_hrikrdo"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $now.format('MM-dd-yyyy/HH:mm') }}"},"id":"5c86bc9d-d327-4aa3-a5e2-35f767b4d3de","name":"Actualizar archivo [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"webhookId":"7962a5ef-773c-4aaa-ac7e-e1305dab2ce1","credentials":{"githubApi":{"id":"XIr2h7n5IJEyX9W6","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"hrikrdo","mode":"list","cachedResultName":"hrikrdo","cachedResultUrl":"https://github.com/hrikrdo"},"repository":{"__rl":true,"value":"backup_n8n_hrikrdo","mode":"list","cachedResultName":"backup_n8n_hrikrdo","cachedResultUrl":"https://github.com/hrikrdo/backup_n8n_hrikrdo"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup- {{ $now.format('MM-dd-yyyy/HH:mm') }}"},"id":"b3970044-1a2b-47bf-afa3-38ff0de736bd","name":"Cargar archivo [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-16,320],"webhookId":"d0a2b8f3-2abd-477c-bc4c-01d60fedb356","credentials":{"githubApi":{"id":"XIr2h7n5IJEyX9W6","name":"GitHub account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-464,272],"id":"a55d8023-7acb-4979-ad9d-f0f1e78d49f4","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1584,320],"id":"558d5351-cc37-4052-b375-614c783ec1d8","name":"Schedule Trigger"}],"connections":{"Execute workflow":{"main":[[{"node":"Listar archivos del repositorio [GITHUB]","type":"main","index":0}]]},"Listar archivos del repositorio [GITHUB]":{"main":[[{"node":"Combinar nombres de archivo [GITHUB]","type":"main","index":0}]]},"Obtener flujos de trabajo [N8N]":{"main":[[{"node":"Mover JSON a binario","type":"main","index":0}]]},"Combinar nombres de archivo [GITHUB]":{"main":[[{"node":"Obtener flujos de trabajo [N8N]","type":"main","index":0}]]},"Verificar si el archivo existe en el repositorio":{"main":[[{"node":"Actualizar archivo [GITHUB]","type":"main","index":0}],[{"node":"Cargar archivo [GITHUB]","type":"main","index":0}]]},"Actualizar archivo [GITHUB]":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Cargar archivo [GITHUB]":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Mover JSON a binario":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Verificar si el archivo existe en el repositorio","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Listar archivos del repositorio [GITHUB]","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null},"tags":[]}