campañas-informe-gThZh7fGlyr6zXzo.json
{"createdAt":"2025-09-08T18:52:31.623Z","updatedAt":"2025-09-08T18:52:31.623Z","id":"gThZh7fGlyr6zXzo","name":"Campañas Informe","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"5b163417-a36e-4177-acef-a19ed4fe2b91","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[2784,4624],"id":"0e1d7999-3fd0-42b8-9e09-4561b10c9b1f","name":"Webhook","webhookId":"5b163417-a36e-4177-acef-a19ed4fe2b91"},{"parameters":{"base":{"__rl":true,"value":"apprq79kV9fl74Bg3","mode":"list","cachedResultName":"Marketing Meta Ads","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3"},"table":{"__rl":true,"value":"tbl7YqQ7iO3ZByXpI","mode":"list","cachedResultName":"Ads Metricas WTD","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3/tbl7YqQ7iO3ZByXpI"},"id":"={{ $json.query.recordId }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1040,2512],"id":"35e589ea-3676-4f2c-9f99-d2f8213a3126","name":"Airtable10"},{"parameters":{"hostUrl":"graph-video.facebook.com","graphApiVersion":"v22.0","node":"={{ $json['Video ID'] }}","options":{"queryParameters":{"parameter":[{"name":"fields","value":"=id,description,length,source,permalink_url,embed_html"}]}}},"id":"ca845272-db32-4154-b174-50264ae72bf6","type":"n8n-nodes-base.facebookGraphApi","position":[1392,2688],"name":"Facebook Graph API10","typeVersion":1,"credentials":{"facebookGraphApi":{"id":"RJAbfJhuCsu09jWy","name":"Facebook Graph Token"}}},{"parameters":{"url":"={{ $json.extracted_sd_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2800,2688],"id":"4ca39967-f16f-4a78-a2d5-9b974bae2eeb","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"499222b9-bc6e-488f-a6c6-3ed5bd802c8f","name":"url","value":"=https://www.facebook.com{{ $json.permalink_url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,2528],"id":"0afe1034-e18c-4737-acfc-81820fc0b2fd","name":"Edit Fields5"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// --- Función auxiliar para buscar recursivamente una clave en un objeto o array JSON ---\nfunction buscarValorPorClave(obj, claveBuscada) {\n  if (typeof obj !== 'object' || obj === null) {\n    return null;\n  }\n  if (obj.hasOwnProperty(claveBuscada)) {\n    return obj[claveBuscada];\n  }\n  for (const key in obj) {\n    if (obj.hasOwnProperty(key)) {\n      const resultado = buscarValorPorClave(obj[key], claveBuscada);\n      if (resultado !== null) {\n        return resultado;\n      }\n    }\n  }\n  if (Array.isArray(obj)) {\n    for (const item of obj) {\n      const resultado = buscarValorPorClave(item, claveBuscada);\n      if (resultado !== null) {\n        return resultado;\n      }\n    }\n  }\n  return null;\n}\n// --- Fin de la función auxiliar ---\n\n\n// Obtener el ítem de entrada\nconst item = $input.item;\n\n// Suponemos que el contenido HTML está en item.json.content\nconst htmlInput = item.json.content;\nlet urlSD = null; // Variable para almacenar la URL encontrada\n\n// Verificamos que el contenido sea una cadena (HTML)\nif (typeof htmlInput !== 'string') {\n  item.json.error = \"El contenido recibido no es una cadena de texto (se esperaba HTML).\";\n  console.error(item.json.error);\n  return item; // Devolver el ítem con un campo de error\n}\n\n\n// Expresión regular para encontrar etiquetas <script type=\"application/json\"> y capturar su contenido\nconst scriptRegex = /<script type=\"application\\/json\"[^>]*>([\\s\\S]*?)<\\/script>/g;\nlet match;\n\ntry {\n  // Iteramos sobre todas las coincidencias de la expresión regular\n  while ((match = scriptRegex.exec(htmlInput)) !== null) {\n    const contenidoScript = match[1]; // El grupo 1 contiene el contenido dentro de la etiqueta <script>\n\n    if (contenidoScript) {\n      try {\n        const datosJSON = JSON.parse(contenidoScript); // Intentamos parsear el texto como JSON\n\n        // Buscamos dentro del JSON la clave específica\n        const posibleUrl = buscarValorPorClave(datosJSON, 'browser_native_sd_url');\n\n        // Si encontramos una URL válida (con extensión .mp4), la guardamos\n        if (typeof posibleUrl === 'string' && posibleUrl.trim() !== '' && posibleUrl.includes('.mp4')) {\n          urlSD = posibleUrl;\n          console.log(\"URL SD encontrada dentro de una etiqueta <script>:\", urlSD);\n          break; // Salimos del bucle al encontrar la primera URL válida\n        }\n\n      } catch (errorJSON) {\n        // Ignoramos scripts que no contienen JSON válido\n        // console.warn(\"Script ignorado por error al parsear JSON:\", errorJSON.message);\n      }\n    }\n  }\n\n} catch (error) {\n  item.json.error = \"Error durante el procesamiento con regex/JSON: \" + error.message;\n  console.error(item.json.error);\n  return item; // Devolver el ítem con el error\n}\n\n\n// Añadir la URL extraída (o el error) al JSON del ítem\nif (urlSD) {\n  // Limpiar posibles entidades HTML como &amp;\n  item.json.extracted_sd_url = urlSD.replace(/&/g, '&');\n  console.log(\"URL extraída y limpiada correctamente:\", item.json.extracted_sd_url);\n  // Opcional: eliminar el contenido HTML original si ya no se necesita\n  // delete item.json.content;\n} else {\n  item.json.error = \"No se encontró 'browser_native_sd_url' usando regex y parseo JSON.\";\n  console.error(item.json.error);\n}\n\n// Devolver el ítem modificado\nreturn item;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2384,2688],"id":"49b65c40-95c6-4e02-a116-09ebab5e52cb","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dc4f539c-b1ea-48f6-8f9f-842a2a0a2d82","leftValue":"={{ $json.extracted_sd_url }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2544,2544],"id":"2f08bc20-9445-405c-89c6-b28e5c378768","name":"If7"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3008,2528],"id":"43ffe991-4b23-4afe-8af8-db4551d9920e","name":"OpenAI"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"apprq79kV9fl74Bg3","mode":"list","cachedResultName":"Marketing Meta Ads","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3"},"table":{"__rl":true,"value":"tbl7YqQ7iO3ZByXpI","mode":"list","cachedResultName":"Ads Metricas WTD","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3/tbl7YqQ7iO3ZByXpI"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook1').item.json.query.recordId }}","Transcripción del video":"={{ $json.text }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Ad ID","displayName":"Ad ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Ad Name","displayName":"Ad Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Mejores Ads?","displayName":"Mejores Ads?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Active Status","displayName":"Active Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"ACTIVE","value":"ACTIVE"},{"name":"PAUSED","value":"PAUSED"},{"name":"DELETED","value":"DELETED"},{"name":"ARCHIVED","value":"ARCHIVED"},{"name":"IN_PROCESS","value":"IN_PROCESS"},{"name":"WITH_ISSUES","value":"WITH_ISSUES"}],"readOnly":false,"removed":true},{"id":"Spend","displayName":"Spend","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"CPC","displayName":"CPC","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"CPM","displayName":"CPM","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Impressions","displayName":"Impressions","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Clicks","displayName":"Clicks","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Frecuencia","displayName":"Frecuencia","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Tiempo medio visto","displayName":"Tiempo medio visto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Tiempo 25%","displayName":"Tiempo 25%","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Conversions","displayName":"Conversions","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Conversion Value","displayName":"Conversion Value","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Transcripción del video","displayName":"Transcripción del video","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Video ID","displayName":"Video ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Campaign Name","displayName":"Campaign Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"AdSet Name","displayName":"AdSet Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ROAS","displayName":"ROAS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Engagement Rate [progress]","displayName":"Engagement Rate [progress]","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Updated","displayName":"Last Updated","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Associate to New Product","displayName":"Associate to New Product","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Servicios","displayName":"Servicios","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Guiones","displayName":"Guiones","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3264,2672],"id":"14620a44-bed2-4a99-8a14-27fa70d2c0f7","name":"Airtable11","executeOnce":true},{"parameters":{"content":"## Transcripción mejores videos","height":660,"width":3220,"color":6},"type":"n8n-nodes-base.stickyNote","position":[512,2352],"typeVersion":1,"id":"1112eb38-1353-42ec-92dd-07e00f3cba45","name":"Sticky Note2"},{"parameters":{"content":"## \"Sistema de Guiones / Generación de Ideas / Feedback\"","height":1940,"width":3220,"color":5},"type":"n8n-nodes-base.stickyNote","position":[480,3120],"typeVersion":1,"id":"1805515c-e7bb-4845-8f61-a59d73be37a7","name":"Sticky Note3"},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"id":"35b81ccc-e459-4808-89fb-2700e87e9013","type":"n8n-nodes-base.scheduleTrigger","position":[672,1712],"name":"Desencadenador de programación2","typeVersion":1.2,"disabled":true},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"498aceea-7510-4663-831e-48114f64d244","type":"n8n-nodes-base.splitOut","position":[1008,1712],"name":"Dividir salida6","typeVersion":1},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"fbdb2997-3775-4e1c-817a-df5b8689fdf2","type":"n8n-nodes-base.splitOut","position":[1392,1712],"name":"Dividir salida7","typeVersion":1},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"7fca63e4-052d-4153-b11c-8d210e2226fd","type":"n8n-nodes-base.splitOut","position":[2000,1968],"name":"Dividir salida8","typeVersion":1},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"e853f4c0-f2da-4d42-a75e-1e362d46467f","type":"n8n-nodes-base.splitOut","position":[2672,1968],"name":"Dividir salida9","typeVersion":1},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2352,1968],"id":"9fa9abb2-dfb1-4894-add8-107f0ca88fa2","name":"Espera","webhookId":"627a9f05-6a54-4197-a97f-dffd8c184f73"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ae9d184-693b-49c1-a971-fc91e1a90522","leftValue":"={{ $json.effective_status }}","rightValue":"ACTIVE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1568,1968],"id":"e0cfe330-d329-405b-907d-e90f6735ddfc","name":"Condición9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ae9d184-693b-49c1-a971-fc91e1a90522","leftValue":"={{ $json.effective_status }}","rightValue":"ACTIVE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2160,1728],"id":"7a6513d7-4ca8-4a3e-9ade-4cc5a8b2f0ad","name":"Condición10"},{"parameters":{"assignments":{"assignments":[{"id":"28d7bfb5-4d2b-4133-880e-b8c2f6455346","name":"Ad ID","value":"={{ $json.id }}","type":"string"},{"id":"3385c600-4d4d-4756-b04c-dcc2815e7e95","name":"Ad Name","value":"={{ $json.name }}","type":"string"},{"id":"11e2bbb6-7422-4e0e-8e03-3532d6f11d5b","name":"Campaign Name","value":"={{ $json.campaign.name }}","type":"string"},{"id":"bc300bdf-3df1-4dbc-b64a-1decd34e0caf","name":"AdSet Name","value":"={{ $json.adset.name }}","type":"string"},{"id":"cf3b0615-d5ff-4f20-9690-146d3bd1a0b2","name":"Active Status","value":"={{ $json.effective_status }}","type":"string"},{"id":"c50c53c9-b36b-4940-8e04-466b88ed7966","name":"Impresiones","value":"={{ $json.insights.data[0].impressions }}","type":"string"},{"id":"885107c2-dd41-41ac-9519-1c548cd1b9d1","name":"Clicks","value":"={{ $json.insights.data[0].clicks }}","type":"string"},{"id":"8c771e20-750a-4b83-8d8b-7b9f98fefacd","name":"Spend","value":"={{ $json.insights.data[0].spend }}","type":"string"},{"id":"517e1d58-2e92-464a-af9a-58319d0f74d5","name":"CPC","value":"={{ $json.insights.data[0].cpc }}","type":"string"},{"id":"754fb45a-8973-48bc-894d-be2d8cdbb224","name":"CPM","value":"={{ $json.insights.data[0].cpm }}","type":"string"},{"id":"9bb4617b-267e-4d99-94c8-0794871fd33e","name":"Conversions","value":"={{ $json.insights.data[0].action_values[3].action_type }}","type":"string"},{"id":"12b30ca9-189b-4023-8def-c8df4a6ef91a","name":"Conversion Value","value":"={{ $json.insights.data[0].action_values[3].action_type*74 }}","type":"string"},{"id":"09951900-5588-4685-9c05-5e08a02c808b","name":"Video ID","value":"={{ $json.creative.video_id }}","type":"string"},{"id":"5c6e1ac1-a754-4a69-81df-e35fdfb3d182","name":"Frecuencia","value":"={{ $json.insights.data[0].frequency }}","type":"string"},{"id":"db2b4e3e-cb98-4ec3-9373-89627b795dd3","name":"Tiempo medio visto","value":"={{ $json.insights.data[0].video_avg_time_watched_actions[0].value }}","type":"number"},{"id":"7a411378-b859-4614-904b-73eece34e1bb","name":"Tiempo visto 25%","value":"={{ $json.insights.data[0].video_p25_watched_actions[0].value }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3024,1968],"id":"e662868e-1f4f-446b-a35f-ebf4ece0e863","name":"Editar campos6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"119650e0-fb37-48e1-bb87-efd4cdd29434","leftValue":"={{ $json.creative.video_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2848,1728],"id":"c9241a2b-df67-483c-8ffc-d330cdd61f8e","name":"Condición6"},{"parameters":{"content":"## Ads Meta por anuncios","height":680,"width":3220},"type":"n8n-nodes-base.stickyNote","position":[512,1552],"typeVersion":1,"id":"dfd7f2c5-bcdb-4867-8b33-f0d273008b34","name":"Nota adhesiva1"},{"parameters":{"graphApiVersion":"v22.0","node":"me","edge":"adaccounts","options":{}},"id":"17173619-f96e-4edf-b23c-5ca892944d9d","type":"n8n-nodes-base.facebookGraphApi","position":[832,1984],"name":"Obtener cuentas de anuncios FB","typeVersion":1,"credentials":{"facebookGraphApi":{"id":"RJAbfJhuCsu09jWy","name":"Facebook Graph Token"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{$json.id}}","edge":"campaigns","options":{"queryParameters":{"parameter":[{"name":"fields","value":"id,name,effective_status"}]}}},"id":"2f3ea6eb-615a-4f4a-971d-ed3d9fb6762b","type":"n8n-nodes-base.facebookGraphApi","position":[1184,1968],"name":"Obtener campañas de anuncios","typeVersion":1,"credentials":{"facebookGraphApi":{"id":"RJAbfJhuCsu09jWy","name":"Facebook Graph Token"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{$json.id}}","edge":"adsets","options":{"fields":{"field":[{"name":"id"},{"name":"name"},{"name":"effective_status"},{"name":"budget"},{"name":"currency"}]}}},"id":"f5627500-92d1-471f-bfe1-b6332036e75c","type":"n8n-nodes-base.facebookGraphApi","position":[1760,1712],"name":"Obtener conjuntos de anuncios FB","typeVersion":1},{"parameters":{"graphApiVersion":"v22.0","node":"={{$json.id}}","edge":"ads","options":{"queryParameters":{"parameter":[{"name":"fields","value":"=id,name,effective_status,creative{image_url,video_id,link_url},insights.date_preset(maximum){ctr,cpm,cpc,cpp,spend,actions,action_values,impressions,clicks,reach,frequency,cost_per_result,results,conversion_values,conversions,website_purchase_roas,purchase_roas,objective,objective_results,video_p25_watched_actions,video_p50_watched_actions,video_p75_watched_actions,video_p95_watched_actions,video_p100_watched_actions,video_avg_time_watched_actions,video_time_watched_actions,video_play_actions,cost_per_unique_click,cost_per_conversion,cost_per_action_type,cost_per_thruplay,inline_link_clicks,inline_post_engagement,landing_page_view_per_link_click},campaign{id,name},adset{id,name},ad_id,ad_name,adset_id,adset_name,campaign_id,campaign_name,account_id,account_name,account_currency\n"}]}}},"id":"48534b7a-5d64-42ff-9e38-f98a4fad3347","type":"n8n-nodes-base.facebookGraphApi","position":[2512,1728],"name":"Obtener contenido de anuncios FB","typeVersion":1,"credentials":{"facebookGraphApi":{"id":"RJAbfJhuCsu09jWy","name":"Facebook Graph Token"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"apprq79kV9fl74Bg3","mode":"list","cachedResultName":"Marketing Meta Ads","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3"},"table":{"__rl":true,"value":"tblq56TF4aT0Zz1sN","mode":"list","cachedResultName":"Ads Metricas","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3/tblq56TF4aT0Zz1sN"},"columns":{"mappingMode":"defineBelow","value":{"Mejores Ads?":false,"Ad ID":"={{ $json['Ad ID'] }}","Ad Name":"={{ $json['Ad Name'] }}","Active Status":"={{ $json['Active Status'] }}","Spend":"={{ $json.Spend }}","CPC":"={{ $json.CPC }}","CPM":"={{ $json.CPM }}","Frecuencia":"={{ $json.Frecuencia }}","Tiempo medio visto":"={{ $json['Tiempo medio visto'] }}","Tiempo 25%":"={{ $json['Tiempo visto 25%'] }}","Conversions":"={{ $json.Conversions }}","Conversion Value":"={{ $json['Conversion Value'] }}","Video ID":"={{ $json['Video ID'] }}","Campaign Name":"={{ $json['Campaign Name'] }}","AdSet Name":"={{ $json['AdSet Name'] }}","Impressions":"={{ $json.Impresiones }}","Clicks":"={{ $json.Clicks }}"},"matchingColumns":[],"schema":[{"id":"Ad ID","displayName":"Ad ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Ad Name","displayName":"Ad Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Active Status","displayName":"Active Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"ACTIVE","value":"ACTIVE"},{"name":"PAUSED","value":"PAUSED"},{"name":"DELETED","value":"DELETED"},{"name":"ARCHIVED","value":"ARCHIVED"},{"name":"IN_PROCESS","value":"IN_PROCESS"},{"name":"WITH_ISSUES","value":"WITH_ISSUES"}],"readOnly":false,"removed":false},{"id":"Spend","displayName":"Spend","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"CPC","displayName":"CPC","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"CPM","displayName":"CPM","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Impressions","displayName":"Impressions","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Clicks","displayName":"Clicks","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Frecuencia","displayName":"Frecuencia","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Tiempo medio visto","displayName":"Tiempo medio visto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Tiempo 25%","displayName":"Tiempo 25%","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Conversions","displayName":"Conversions","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Conversion Value","displayName":"Conversion Value","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Mejores Ads?","displayName":"Mejores Ads?","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Video Script","displayName":"Video Script","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Video ID","displayName":"Video ID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"Campaign Name","displayName":"Campaign Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"AdSet Name","displayName":"AdSet Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ROAS","displayName":"ROAS","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Engagement Rate [progress]","displayName":"Engagement Rate [progress]","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Last Updated","displayName":"Last Updated","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Associate to New Product","displayName":"Associate to New Product","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"b6eda61d-0fcf-43c5-b250-36cb8de6d661","type":"n8n-nodes-base.airtable","position":[3168,1744],"name":"Airtable","typeVersion":2.1,"onError":"continueRegularOutput"},{"parameters":{"content":"## Ads Meta Mensual","height":680,"width":4440},"type":"n8n-nodes-base.stickyNote","position":[0,768],"typeVersion":1,"id":"bb008eff-1141-49a7-b06c-874f20ef607f","name":"Nota adhesiva"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":8}]}},"id":"ad15b762-b06a-42a3-bf79-dbade64decc7","type":"n8n-nodes-base.scheduleTrigger","position":[304,144],"name":"Desencadenador de programación1","typeVersion":1.2},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"e72db6ab-da0a-4e82-8dd3-c01b780fec3b","type":"n8n-nodes-base.splitOut","position":[3152,160],"name":"Dividir salida15","typeVersion":1},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2768,160],"id":"cfd51fe2-c606-46d8-aaa2-ef707286c055","name":"Espera2","webhookId":"627a9f05-6a54-4197-a97f-dffd8c184f73"},{"parameters":{"content":"## Ads Meta Semanal","height":680,"width":5520},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"4f97e06a-4abc-4c5c-b3d2-d68290860e8b","name":"Nota adhesiva2"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,2704],"id":"b70b0daa-2b2d-48f9-8e90-589e143f518c","name":"Scrap basico"},{"parameters":{"assignments":{"assignments":[{"id":"2732cf11-7d5d-46db-abca-7097581b077d","name":"content","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,2528],"id":"a57b3861-581b-474d-aec7-74ccfd4a57af","name":"Contenido"},{"parameters":{"httpMethod":"POST","path":"mejores_ads","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[704,2672],"id":"6eacea07-04b4-4c17-ab74-93546d7dfc21","name":"Webhook1","webhookId":"449974ca-85c2-4b2a-9eaa-f0af28faeb50","disabled":true},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar-reasoning\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un experto investigador web en marketing, que realiza análisis exhaustivos y aporta datos accionables al equipo de marketing.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.userprompt) }}\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2272,3200],"id":"f5f1b93b-200d-4f0d-9413-3c0954c9dba6","name":"Descripción del Producto e Investigación de Clientes"},{"parameters":{"assignments":{"assignments":[{"id":"64113609-6adf-4693-8d51-ede088d97d38","name":"userprompt","value":"=Investiga en profundidad el perfil del cliente ideal para el siguiente servicio, incluyendo:\n- De que se trata el servicio y su descripción detallada.\n- Público objetivo principal y sus necesidades.\n- Análisis de caracteristicas y narrativa de marca.\n\nServicio: {{ $json['Nombre Producto o Servicio'] }}\nNotas del servicio: {{ $json['Notas Producto / Servicio'] }}\n\nProfundiza en todos los aspectos relevantes para obtener insights únicos y accionables que el equipo de marketing pueda emplear de inmediato.\n\nContesta siempre en español","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2064,3200],"id":"2846dcfa-3f36-42dd-98c9-f4992d687be8","name":"Editar Campos 2"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"apprq79kV9fl74Bg3","mode":"list","cachedResultName":"Marketing Meta Ads","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3"},"table":{"__rl":true,"value":"tblTufVXzuUUvsqnD","mode":"list","cachedResultName":"Servicios","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3/tblTufVXzuUUvsqnD"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook2').item.json.query.recordId }}","Estado":"Detalles generados","Detalles producto / servicio":"={{ $json.resultado.trimStart() }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Producto o Servicio","displayName":"Nombre Producto o Servicio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Notas Producto / Servicio","displayName":"Notas Producto / Servicio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Inactivo","value":"Inactivo"},{"name":"Generando detalles ","value":"Generando detalles "},{"name":"Generando angulos","value":"Generando angulos"},{"name":"Detalles generados","value":"Detalles generados"},{"name":"Angulos generados","value":"Angulos generados"}],"readOnly":false,"removed":false},{"id":"Detalles producto / servicio","displayName":"Detalles producto / servicio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Ideas de Guión","displayName":"Ideas de Guión","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Angulo Previo","displayName":"Angulo Previo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Ads Rendimiento","displayName":"Ads Rendimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"1. Generar Detalles","displayName":"1. Generar Detalles","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"2. Generar Angulos","displayName":"2. Generar Angulos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Abrir URL","displayName":"Abrir URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Guión Anuncio Ganador","displayName":"Guión Anuncio Ganador","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Proyecto","displayName":"Proyecto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Paso 1","displayName":"Paso 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Paso 2","displayName":"Paso 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2688,3200],"id":"6eade2de-3527-4a6b-a799-532b872fd733","name":"Actualizar Detalles del Producto"},{"parameters":{"assignments":{"assignments":[{"id":"9cb2899d-6988-4c9b-b966-2da679725175","name":"IdeaDeGuion","value":"={{ $json.output }}","type":"array"},{"id":"bbb3d4d9-766f-4afe-aeff-c1b4b9650bbc","name":"proyecto","value":"=[\"{{ $('Switch1').item.json.query.recordId }}\"]","type":"array"}]},"options":{"ignoreConversionErrors":true}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2480,3552],"id":"bc2d5167-b4d4-48e0-beac-d1e95376853a","name":"Editar Campos"},{"parameters":{"fieldToSplitOut":"IdeaDeGuion","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2720,3552],"id":"d46137cd-7047-41e0-a259-b99623e40b7e","name":"Separar Array"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"name\": \"esquema_guiones_video\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"guiones_video\": {\n        \"type\": \"array\",\n        \"description\": \"Lista de guiones para vídeo\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"Titulo_angulo\": {\n              \"type\": \"string\",\n              \"description\": \"Un titular breve y llamativo que define el ángulo del video\"\n            },\n            \"Resumen_Concepto\": {\n              \"type\": \"string\",\n              \"description\": \"Descripción concisa de la idea principal\"\n            },\n            \"Estructura_anuncio\": {\n              \"type\": \"string\",\n              \"description\": \"Formato y secciones del guion en markdown si es necesario\"\n            },\n            \"Sugerencia_Visual\": {\n              \"type\": \"string\",\n              \"description\": \"Temáticas o escenas visuales sugeridas\"\n            },\n            \"Triggers_Emocionales\": {\n              \"type\": \"string\",\n              \"description\": \"Factores emocionales que se buscan activar\"\n            },\n            \"Tecnicas_Respuesta_Directa\": {\n              \"type\": \"string\",\n              \"description\": \"Métodos de persuasión y llamada a la acción\"\n            },\n            \"Sesgos_Cognitivos\": {\n              \"type\": \"string\",\n              \"description\": \"Explicación de los sesgos psicológicos empleados\"\n            }\n          },\n          \"required\": [\n            \"Titulo_angulo\",\n            \"Resumen_Concepto\",\n            \"Estructura_anuncio\",\n            \"Sugerencia_Visual\",\n            \"Triggers_Emocionales\",\n            \"Tecnicas_Respuesta_Directa\",\n            \"Sesgos_Cognitivos\"\n          ],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\n      \"guiones_video\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2272,3744],"id":"2bd9f555-3b96-438e-93c7-fb7c45a15014","name":"Parser Salida Estructurada"},{"parameters":{"promptType":"define","text":"=Servicio: {{ $json['Nombre Producto o Servicio'] }}\nDetalles Cliente Ideal: {{ $json['Detalles producto / servicio'] }}\n\nÁngulos previos: {{ $json['Angulo Previo'][0] }}\n\nGenera de 5 a 8 nuevas ideas según este esquema, sin prefijos ni sufijos, sólo el array JSON puro","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Eres un redactor publicitario experto en Video Sales Letters (VSL), especializado en crear guiones de alto rendimiento. Cuando recibas los datos de producto, devuelve al menos 5 - 8 propuestas distintas en un array JSON. Cada objeto debe incluir: \nTitulo_angulo, Resumen_Concepto, Estructura_anuncio, Sugerencia_Visual, Triggers_Emocionales, Tecnicas_Respuesta_Directa y Sesgos_Cognitivos. No añadas texto adicional"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2080,3552],"id":"67f145ad-54a9-4bce-b495-3ae8497769d0","name":"Generar Ángulos"},{"parameters":{"base":{"__rl":true,"value":"apprq79kV9fl74Bg3","mode":"list","cachedResultName":"Marketing Meta Ads","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3"},"table":{"__rl":true,"value":"tblTufVXzuUUvsqnD","mode":"list","cachedResultName":"Servicios","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3/tblTufVXzuUUvsqnD"},"id":"={{ $('Webhook2').item.json.query.recordId }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1840,3552],"id":"dd1ce596-5c0c-40cb-b7f7-fd2992e18233","name":"Obtener Producto1"},{"parameters":{"promptType":"define","text":"=Comentarios:\n{{ $json['4. Feedback'] }}\n\n=====\n\nGuionOriginal:\n{{ $json['Guión'] }}\n\n=====\nContextoAdicional:\n{{ $json.Resumen }}","messages":{"messageValues":[{"message":"=Eres un experto guionista de VSL. Reescribe el guion original usando el feedback proporcionado. Debes:\n\n1. Incorporar cada punto de retroalimentación explícitamente.\n2. Mejorar claridad, emoción e impacto.\n3. Mantener coherencia con el tono y estructura originales.\n4. Optimizar para conversiones directas.\n\nEntrega sólo el guion revisado en Markdown, sin texto extra."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1984,4704],"id":"25d21c19-e8fb-44c9-b663-c2f474c71111","name":"Cadena LLM – Revisar Guion"},{"parameters":{"base":{"__rl":true,"value":"apprq79kV9fl74Bg3","mode":"list","cachedResultName":"Marketing Meta Ads","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3"},"table":{"__rl":true,"value":"tbl0ynpBwH6r97TNN","mode":"list","cachedResultName":"Guiones","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3/tbl0ynpBwH6r97TNN"},"id":"={{ $json.query.recordId }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1824,4032],"id":"21ca7fdb-8241-417e-ae46-a27fc84dd17e","name":"Obtener Guion"},{"parameters":{"base":{"__rl":true,"value":"apprq79kV9fl74Bg3","mode":"list","cachedResultName":"Marketing Meta Ads","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3"},"table":{"__rl":true,"value":"tbl0ynpBwH6r97TNN","mode":"list","cachedResultName":"Guiones","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3/tbl0ynpBwH6r97TNN"},"id":"={{ $json.query.recordId }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1840,4704],"id":"0d878005-1a6b-4046-b25d-0423cc537179","name":"Obtener Guion Original"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"apprq79kV9fl74Bg3","mode":"list","cachedResultName":"Marketing Meta Ads","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3"},"table":{"__rl":true,"value":"tbl0ynpBwH6r97TNN","mode":"list","cachedResultName":"Guiones","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3/tbl0ynpBwH6r97TNN"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook2').item.json.query.recordId }}","Guión":"={{ $json.text }}","Estado":"Guión Revisado","5. Generar Guion":false},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true},{"id":"Título del Angulo","displayName":"Título del Angulo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Resumen","displayName":"Resumen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estructura","displayName":"Estructura","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Idea de video","displayName":"Idea de video","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Triggers Emocionales","displayName":"Triggers Emocionales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Sesgos Cognitivos","displayName":"Sesgos Cognitivos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Técnicas de respuesta directa","displayName":"Técnicas de respuesta directa","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"3. Seleccionar tiempo guión","displayName":"3. Seleccionar tiempo guión","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"< 1 min","value":"< 1 min"},{"name":"1-3 mins","value":"1-3 mins"},{"name":"3-5 mins","value":"3-5 mins"},{"name":"5-7 mins","value":"5-7 mins"}],"readOnly":false,"removed":false},{"id":"Tipo de Guión","displayName":"Tipo de Guión","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"AIDA (Atención – Interés – Deseo – Acción)","value":"AIDA (Atención – Interés – Deseo – Acción)"},{"name":"PAS (Problema – Agitación – Solución)","value":"PAS (Problema – Agitación – Solución)"},{"name":"4P (Problema – Promesa – Prueba – Propuesta)","value":"4P (Problema – Promesa – Prueba – Propuesta)"},{"name":"FAB (Features – Advantages – Benefits)","value":"FAB (Features – Advantages – Benefits)"},{"name":"Storytelling + CTA (La historia como venta)","value":"Storytelling + CTA (La historia como venta)"}],"readOnly":false,"removed":false},{"id":"4. Feedback","displayName":"4. Feedback","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Inactivo","value":"Inactivo"},{"name":"Generando Guión","value":"Generando Guión"},{"name":"Revisión en proceso","value":"Revisión en proceso"},{"name":"Guión Generado","value":"Guión Generado"},{"name":"Guión Revisado","value":"Guión Revisado"}],"readOnly":false,"removed":false},{"id":"Guión","displayName":"Guión","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Producto/Servicio","displayName":"Producto/Servicio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Sobre el producto/servicio","displayName":"Sobre el producto/servicio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"5. Generar Guion","displayName":"5. Generar Guion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Lista Final","displayName":"Lista Final","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Anuncio Ganador","displayName":"Anuncio Ganador","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Transcripción del video (from Guion Ganador)","displayName":"Transcripción del video (from Guion Ganador)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2320,4704],"id":"e70e3c42-78e3-444b-8519-263eac587770","name":"Actualizar Guion Revisado"},{"parameters":{"path":"anuncios-general","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[880,4032],"id":"e6000741-b76c-4890-92bd-c4de83fa2b7f","name":"Webhook2","webhookId":"b4956976-e25a-4059-9927-d85ff8f2a4cb","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eddee505-29e2-48b9-896a-d5e3cfde89f5","leftValue":"={{ $json.query.acccion }}","rightValue":"generar_detalles","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Generar detalles proyecto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.query.acccion }}","rightValue":"generar_angulos","operator":{"type":"string","operation":"equals"},"id":"bb5b6fd5-ef22-451b-a23d-258044aafcca"}],"combinator":"and"},"renameOutput":true,"outputKey":"Generar Angulos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac785a02-782f-4af2-af20-bb23cf885a71","leftValue":"={{ $json.query.acccion }}","rightValue":"generar_guiones","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Generar Guion"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0ab60fd9-c2a2-4e7d-81dc-07737b2f95dc","leftValue":"={{ $json.query.acccion }}","rightValue":"generar_feedback","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Generar Feedback"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1200,4000],"id":"d6b7d346-15ba-4fa8-9345-fe54f393d371","name":"Switch1"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"apprq79kV9fl74Bg3","mode":"list","cachedResultName":"Marketing Meta Ads","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3"},"table":{"__rl":true,"value":"tbl0ynpBwH6r97TNN","mode":"list","cachedResultName":"Guiones","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3/tbl0ynpBwH6r97TNN"},"columns":{"mappingMode":"defineBelow","value":{"Título del Angulo":"={{ $json.Titulo_angulo }}","Resumen":"={{ $json.Resumen_Concepto }}","Estructura":"={{ $json.Estructura_anuncio }}","Idea de video":"={{ $json.Sugerencia_Visual }}","Triggers Emocionales":"={{ $json.Triggers_Emocionales }}","Sesgos Cognitivos":"={{ $json.Sesgos_Cognitivos }}","Técnicas de respuesta directa":"={{ $json.Tecnicas_Respuesta_Directa }}","Estado":"Inactivo","Producto/Servicio":"={{ $('Editar Campos').item.json.proyecto }}","5. Generar Guion":false,"Lista Final":false},"matchingColumns":[],"schema":[{"id":"Título del Angulo","displayName":"Título del Angulo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Resumen","displayName":"Resumen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estructura","displayName":"Estructura","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Idea de video","displayName":"Idea de video","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Triggers Emocionales","displayName":"Triggers Emocionales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Sesgos Cognitivos","displayName":"Sesgos Cognitivos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Técnicas de respuesta directa","displayName":"Técnicas de respuesta directa","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"3. Seleccionar tiempo guión","displayName":"3. Seleccionar tiempo guión","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"< 1 min","value":"< 1 min"},{"name":"1-3 mins","value":"1-3 mins"},{"name":"3-5 mins","value":"3-5 mins"},{"name":"5-7 mins","value":"5-7 mins"}],"readOnly":false,"removed":false},{"id":"Tipo de Guión","displayName":"Tipo de Guión","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"AIDA (Atención – Interés – Deseo – Acción)","value":"AIDA (Atención – Interés – Deseo – Acción)"},{"name":"PAS (Problema – Agitación – Solución)","value":"PAS (Problema – Agitación – Solución)"},{"name":"4P (Problema – Promesa – Prueba – Propuesta)","value":"4P (Problema – Promesa – Prueba – Propuesta)"},{"name":"FAB (Features – Advantages – Benefits)","value":"FAB (Features – Advantages – Benefits)"},{"name":"Storytelling + CTA (La historia como venta)","value":"Storytelling + CTA (La historia como venta)"}],"readOnly":false,"removed":false},{"id":"4. Feedback","displayName":"4. Feedback","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Inactivo","value":"Inactivo"},{"name":"Generando Guión","value":"Generando Guión"},{"name":"Revisión en proceso","value":"Revisión en proceso"},{"name":"Guión Generado","value":"Guión Generado"},{"name":"Guión Revisado","value":"Guión Revisado"}],"readOnly":false,"removed":false},{"id":"Guión","displayName":"Guión","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Producto/Servicio","displayName":"Producto/Servicio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Sobre el producto/servicio","displayName":"Sobre el producto/servicio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"5. Generar Guion","displayName":"5. Generar Guion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Lista Final","displayName":"Lista Final","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Anuncio Ganador","displayName":"Anuncio Ganador","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Transcripción del video (from Guion Ganador)","displayName":"Transcripción del video (from Guion Ganador)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3024,3552],"id":"728fb11f-05bb-4c66-acd9-d3bee0541d6c","name":"Crear Angulo"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"apprq79kV9fl74Bg3","mode":"list","cachedResultName":"Marketing Meta Ads","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3"},"table":{"__rl":true,"value":"tblTufVXzuUUvsqnD","mode":"list","cachedResultName":"Servicios","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3/tblTufVXzuUUvsqnD"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Webhook2').item.json.query.recordId }}","Estado":"Angulos generados"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Nombre Producto o Servicio","displayName":"Nombre Producto o Servicio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Notas Producto / Servicio","displayName":"Notas Producto / Servicio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Inactivo","value":"Inactivo"},{"name":"Generando detalles ","value":"Generando detalles "},{"name":"Generando angulos","value":"Generando angulos"},{"name":"Detalles generados","value":"Detalles generados"},{"name":"Angulos generados","value":"Angulos generados"}],"readOnly":false,"removed":false},{"id":"Detalles producto / servicio","displayName":"Detalles producto / servicio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Angulo Previo","displayName":"Angulo Previo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Ideas de Guión","displayName":"Ideas de Guión","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Ads Rendimiento","displayName":"Ads Rendimiento","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"1. Generar Detalles","displayName":"1. Generar Detalles","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"2. Generar Angulos","displayName":"2. Generar Angulos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Abrir URL","displayName":"Abrir URL","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Guión Anuncio Ganador","displayName":"Guión Anuncio Ganador","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Proyecto","displayName":"Proyecto","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Paso 1","displayName":"Paso 1","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Paso 2","displayName":"Paso 2","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3264,3552],"id":"a5d4c4cf-6aee-4f3c-8f5d-7e994f06f50e","name":"Actualizar","executeOnce":true},{"parameters":{"operation":"update","base":{"__rl":true,"value":"apprq79kV9fl74Bg3","mode":"list","cachedResultName":"Marketing Meta Ads","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3"},"table":{"__rl":true,"value":"tbl0ynpBwH6r97TNN","mode":"list","cachedResultName":"Guiones","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3/tbl0ynpBwH6r97TNN"},"columns":{"mappingMode":"defineBelow","value":{"5. Generar Guion":false,"Lista Final":true,"id":"={{ $('Webhook2').item.json.query.recordId }}","Estado":"Guión Generado","Guión":"={{ $json.text }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true},{"id":"Título del Angulo","displayName":"Título del Angulo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Resumen","displayName":"Resumen","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estructura","displayName":"Estructura","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Idea de video","displayName":"Idea de video","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Triggers Emocionales","displayName":"Triggers Emocionales","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Sesgos Cognitivos","displayName":"Sesgos Cognitivos","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Técnicas de respuesta directa","displayName":"Técnicas de respuesta directa","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"3. Seleccionar tiempo guión","displayName":"3. Seleccionar tiempo guión","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"< 1 min","value":"< 1 min"},{"name":"1-3 mins","value":"1-3 mins"},{"name":"3-5 mins","value":"3-5 mins"},{"name":"5-7 mins","value":"5-7 mins"}],"readOnly":false,"removed":true},{"id":"Tipo de Guión","displayName":"Tipo de Guión","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"AIDA (Atención – Interés – Deseo – Acción)","value":"AIDA (Atención – Interés – Deseo – Acción)"},{"name":"PAS (Problema – Agitación – Solución)","value":"PAS (Problema – Agitación – Solución)"},{"name":"4P (Problema – Promesa – Prueba – Propuesta)","value":"4P (Problema – Promesa – Prueba – Propuesta)"},{"name":"FAB (Features – Advantages – Benefits)","value":"FAB (Features – Advantages – Benefits)"},{"name":"Storytelling + CTA (La historia como venta)","value":"Storytelling + CTA (La historia como venta)"}],"readOnly":false,"removed":false},{"id":"4. Feedback","displayName":"4. Feedback","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Inactivo","value":"Inactivo"},{"name":"Generando Guión","value":"Generando Guión"},{"name":"Revisión en proceso","value":"Revisión en proceso"},{"name":"Guión Generado","value":"Guión Generado"},{"name":"Guión Revisado","value":"Guión Revisado"}],"readOnly":false,"removed":false},{"id":"Guión","displayName":"Guión","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Producto/Servicio","displayName":"Producto/Servicio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Sobre el producto/servicio","displayName":"Sobre el producto/servicio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"5. Generar Guion","displayName":"5. Generar Guion","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Lista Final","displayName":"Lista Final","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"Anuncio Ganador","displayName":"Anuncio Ganador","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Transcripción del video (from Guion Ganador)","displayName":"Transcripción del video (from Guion Ganador)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[3312,4080],"id":"5107124a-efb1-4808-a075-6b6bf5b6ed3a","name":"Actualizar1","executeOnce":true},{"parameters":{"base":{"__rl":true,"value":"apprq79kV9fl74Bg3","mode":"list","cachedResultName":"Marketing Meta Ads","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3"},"table":{"__rl":true,"value":"tblntjnsj30umOOx1","mode":"list","cachedResultName":"Projects","cachedResultUrl":"https://airtable.com/apprq79kV9fl74Bg3/tblntjnsj30umOOx1"},"id":"={{ $('Webhook2').item.json.query.recordId }}","options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1840,3200],"id":"49a21513-5c12-4294-ba46-2cbdf6567160","name":"Obtener Producto"},{"parameters":{"jsCode":"const texto = $json.choices[0].message.content;\nconst limpio = texto.replace(/<think>[\\s\\S]*?<\\/think>/g, '');\nreturn [{ resultado: limpio }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2480,3200],"id":"e2a47d77-5868-4fc0-8c84-1d17ea027e82","name":"Code"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2064,3728],"id":"4b722779-96df-46bf-b0d5-a724e8c61fc0","name":"Google Gemini Chat Model"},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"Claude Sonnet 4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[2128,4432],"id":"161f7685-5326-4f2f-9e80-4daa728cb21c","name":"Anthropic Chat Model"},{"parameters":{"model":{"__rl":true,"value":"claude-sonnet-4-20250514","mode":"list","cachedResultName":"Claude Sonnet 4"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1984,4912],"id":"8e599365-ca19-4b75-a7d5-c34c96127164","name":"Anthropic Chat Model1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Tipo de Guión'] }}","rightValue":"AIDA (Atención – Interés – Deseo – Acción)","operator":{"type":"string","operation":"equals"},"id":"70f3e172-0f65-4661-8a58-8b4973f3f92c"}],"combinator":"and"},"renameOutput":true,"outputKey":"AIDA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f96fdf45-e931-4bec-8af8-d6430128433c","leftValue":"={{ $json['Tipo de Guión'] }}","rightValue":"PAS (Problema – Agitación – Solución)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2be80e28-84b9-4b6d-b40d-aac4fa5e8a11","leftValue":"={{ $json['Tipo de Guión'] }}","rightValue":"4P (Problema – Promesa – Prueba – Propuesta)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"4P"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6436b5cf-0ce0-4e35-ad85-86ce649449ff","leftValue":"={{ $json['Tipo de Guión'] }}","rightValue":"FAB (Features – Advantages – Benefits)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FAB"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5d6bb71-3095-4c97-bd3c-5a246d070662","leftValue":"={{ $json['Tipo de Guión'] }}","rightValue":"Storytelling + CTA (La historia como venta)","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ST + CTA"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2080,4048],"id":"164b177e-df4d-4c3b-955e-31f7a4052951","name":"Switch"},{"parameters":{"promptType":"define","text":"=Titulo del Angulo: {{ $json['Título del Angulo'] }}\n-----\nResumen del Concepto: {{ $json.Resumen }}\n-----\nEsquema del anuncio: {{ $json.Estructura }}\n-----\nSugerencia Visual (Idea de video): {{ $json['Idea de video'] }}\n-----\nTriggers Emocionales: {{ $json['Triggers Emocionales'] }}\n----\nSesgos Cognitivos: {{ $json['Sesgos Cognitivos'] }}\n----\nTecnicas de Respuesta Directa: {{ $json['Técnicas de respuesta directa'] }}\n----\nDuración Estimada: {{ $json['3. Seleccionar tiempo guión'] }}\n----\nInformación del Producto: {{ $json['Sobre el producto/servicio'][0] }}\n----\nTranscripción del anuncio real que mejor ha funcionado en las campañas hasta ahora: {{ $json['Transcripción del video (from Guion Ganador)'][0] }}\n---\nGenera un guion completo tomando en cuenta toda la información anterior.","messages":{"messageValues":[{"message":"=Eres un guionista maestro en Video Sales Letters (VSL), especializado en anuncios de alto rendimiento para redes sociales como Facebook, Instagram o TikTok. Tu misión es construir un guion siguiendo el modelo AIDA, combinando persuasión emocional y lógica con un ritmo narrativo que detenga el scroll, mantenga la atención y maximice las conversiones.\n\nCuando recibas este brief:\n\n- **Ángulo creativo:** El concepto principal del anuncio.\n- **Resumen del concepto:** Explicación en Markdown con detalles visuales y psicológicos.\n- **Perfil de audiencia:** Miedos, deseos, lenguaje interno, creencias y objeciones.\n- **Datos extra:** Todo lo relevante sobre el producto, garantía, oferta, diferencial.\n- **Transcripción de anuncio real que mejor a funcionado**\n\nEntrega un guion estructurado de esta forma:\n\n### ESTRUCTURA DEL VSL – MODELO AIDA:\n\n**1. ATENCIÓN (0–5s):**  \n- Comienza con un disparador emocional: pregunta incómoda, afirmación contraria, estadística alarmante.  \n- Asegúrate de que en los primeros 3 segundos se identifique un dolor o deseo del usuario.\n\n**2. INTERÉS (5–20s):**  \n- Refuerza el problema. Muestra que \"conoces su mundo\".  \n- Utiliza metáforas visuales o microhistorias.  \n- Genera curiosidad sobre la solución sin revelarla todavía.\n\n**3. DESEO (20–90s):**  \n- Introduce el producto como respuesta inevitable.  \n- Muestra beneficios con foco en transformación emocional.  \n- Integra prueba social, testimonios, resultados cuantificables, autoridad o validación.  \n- Derriba objeciones lógicas (“¿y si no funciona?”, “es muy caro”) con storytelling.\n\n**4. ACCIÓN (90s–120s):**  \n- Llamada a la acción directa. Usa verbos imperativos.  \n- Refuerza la promesa clave. Añade urgencia real o escasez.  \n- Si aplica, incluye garantía o incentivo extra.\n\n**REGLAS:**\n- Tono conversacional, emocional y directo.\n- Cada frase debe tener propósito. Nada de relleno.\n- Indica escenas o planos si es posible (💡 Visual: pantalla partida, antes/después)."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2624,3872],"id":"cc55c7c2-d83c-4452-b5a9-00ff84cce51f","name":"AIDA"},{"parameters":{"promptType":"define","text":"=Titulo del Angulo: {{ $json['Título del Angulo'] }}\n-----\nResumen del Concepto: {{ $json.Resumen }}\n-----\nEsquema del anuncio: {{ $json.Estructura }}\n-----\nSugerencia Visual (Idea de video): {{ $json['Idea de video'] }}\n-----\nTriggers Emocionales: {{ $json['Triggers Emocionales'] }}\n----\nSesgos Cognitivos: {{ $json['Sesgos Cognitivos'] }}\n----\nTecnicas de Respuesta Directa: {{ $json['Técnicas de respuesta directa'] }}\n----\nDuración Estimada: {{ $json['3. Seleccionar tiempo guión'] }}\n----\nInformación del Producto: {{ $json['Sobre el producto/servicio'][0] }}\n----\nTranscripción del anuncio real que mejor ha funcionado en las campañas hasta ahora: {{ $json['Transcripción del video (from Guion Ganador)'][0] }}\n---\nGenera un guion completo tomando en cuenta toda la información anterior.","messages":{"messageValues":[{"message":"=Actúas como un guionista persuasivo especializado en anuncios tipo VSL que despiertan acción rápida en audiencias frías. Tu estructura base es PAS: identificar un problema, agitarlo hasta volverlo insoportable y presentar una solución innegable.\n\nTrabaja con este brief:\n\n- **Ángulo del mensaje**\n- **Desarrollo del concepto**\n- **Psicografía del público**\n- **Datos relevantes del producto o servicio**\n- **Transcripción de anuncio real que mejor a funcionado**\n\nSigue esta estructura exacta:\n\n### GUION DE VSL – MODELO PAS:\n\n**1. PROBLEMA (0–15s):**  \n- Define el problema con claridad brutal.  \n- Evoca una situación cotidiana frustrante.  \n- Usa frases de identificación: “¿Te ha pasado que…?”\n\n**2. AGITACIÓN (15–30s):**  \n- Amplifica el dolor. ¿Qué pierde si no cambia?  \n- Agrega una dimensión emocional: estrés, vergüenza, miedo.  \n- El objetivo es que el espectador diga: “Eso me pasa a mí”.\n\n**3. SOLUCIÓN (30s–90s):**  \n- Introduce el producto como alivio concreto.  \n- Muestra cómo soluciona ese problema con fluidez.  \n- Usa comparativas, datos y prueba social.  \n- Si es posible, menciona cómo esta solución ha transformado otras vidas similares.\n\n**CIERRE (90–120s):**  \n- Llamado claro a la acción.  \n- Apoya la acción con motivadores (ahorro de tiempo, transformación personal).  \n- Termina con frase corta poderosa y visual de impacto.\n\n**ESTILO:** Empático, directo, como si hablaras a una persona frente a ti. Usa ejemplos reales y lenguaje cotidiano."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2624,3984],"id":"3281c8a1-3f5f-47d2-ad3b-a1d4675e1aab","name":"PAS"},{"parameters":{"promptType":"define","text":"=Titulo del Angulo: {{ $json['Título del Angulo'] }}\n-----\nResumen del Concepto: {{ $json.Resumen }}\n-----\nEsquema del anuncio: {{ $json.Estructura }}\n-----\nSugerencia Visual (Idea de video): {{ $json['Idea de video'] }}\n-----\nTriggers Emocionales: {{ $json['Triggers Emocionales'] }}\n----\nSesgos Cognitivos: {{ $json['Sesgos Cognitivos'] }}\n----\nTecnicas de Respuesta Directa: {{ $json['Técnicas de respuesta directa'] }}\n----\nDuración Estimada: {{ $json['3. Seleccionar tiempo guión'] }}\n----\nInformación del Producto: {{ $json['Sobre el producto/servicio'][0] }}\n----\nTranscripción del anuncio real que mejor ha funcionado en las campañas hasta ahora: {{ $json['Transcripción del video (from Guion Ganador)'][0] }}\n---\nGenera un guion completo tomando en cuenta toda la información anterior.","messages":{"messageValues":[{"message":"=Eres un guionista experto en presentar productos de forma irresistible utilizando la estructura FAB. Esta estructura es ideal para productos técnicos, físicos o de ecommerce. Vas más allá de lo que el producto es, y te enfocas en lo que **hace sentir**.\n\nCon este brief:\n\n- **Ángulo principal**\n- **Resumen técnico + emocional**\n- **Perfil usuario ideal**\n- **Ficha de producto con detalles, materiales, funciones**\n- **Transcripción de anuncio real que mejor a funcionado**\n\nCrea un guion que responda:\n\n### GUION DE VSL – MODELO FAB:\n\n**1. FEATURES (0–20s):**  \n- Explica en detalle lo que el producto tiene.  \n- Muestra sus materiales, tecnología o diseño único.\n\n**2. ADVANTAGES (20–40s):**  \n- ¿Qué ventajas ofrece frente a lo habitual?  \n- Usa comparativas: “A diferencia de otras opciones…”\n\n**3. BENEFITS (40–90s):**  \n- Aterriza cómo impacta su vida: tranquilidad, tiempo, autoestima, rendimiento.  \n- Usa microhistorias (“Pedro ya no tiene que...”).\n\n**4. CTA FINAL (90–120s):**  \n- CTA fuerte recordando el beneficio más emocional.  \n- Cierre con urgencia (“Solo hoy”, “Entrega inmediata”).\n\n**NOTA:** Usa tomas detalladas del producto. Aplica si es físico, digital o SaaS."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2624,4112],"id":"1579c5fb-f7f8-4181-b501-f850e8ad64f5","name":"4Ps"},{"parameters":{"promptType":"define","text":"=Titulo del Angulo: {{ $json['Título del Angulo'] }}\n-----\nResumen del Concepto: {{ $json.Resumen }}\n-----\nEsquema del anuncio: {{ $json.Estructura }}\n-----\nSugerencia Visual (Idea de video): {{ $json['Idea de video'] }}\n-----\nTriggers Emocionales: {{ $json['Triggers Emocionales'] }}\n----\nSesgos Cognitivos: {{ $json['Sesgos Cognitivos'] }}\n----\nTecnicas de Respuesta Directa: {{ $json['Técnicas de respuesta directa'] }}\n----\nDuración Estimada: {{ $json['3. Seleccionar tiempo guión'] }}\n----\nInformación del Producto: {{ $json['Sobre el producto/servicio'][0] }}\n----\nTranscripción del anuncio real que mejor ha funcionado en las campañas hasta ahora: {{ $json['Transcripción del video (from Guion Ganador)'][0] }}\n---\nGenera un guion completo tomando en cuenta toda la información anterior.","messages":{"messageValues":[{"message":"=Eres un guionista experto en presentar productos de forma irresistible utilizando la estructura FAB. Esta estructura es ideal para productos técnicos, físicos o de ecommerce. Vas más allá de lo que el producto es, y te enfocas en lo que **hace sentir**.\n\nCon este brief:\n\n- **Ángulo principal**\n- **Resumen técnico + emocional**\n- **Perfil usuario ideal**\n- **Ficha de producto con detalles, materiales, funciones**\n- **Transcripción de anuncio real que mejor a funcionado**\n\nCrea un guion que responda:\n\n### GUION DE VSL – MODELO FAB:\n\n**1. FEATURES (0–20s):**  \n- Explica en detalle lo que el producto tiene.  \n- Muestra sus materiales, tecnología o diseño único.\n\n**2. ADVANTAGES (20–40s):**  \n- ¿Qué ventajas ofrece frente a lo habitual?  \n- Usa comparativas: “A diferencia de otras opciones…”\n\n**3. BENEFITS (40–90s):**  \n- Aterriza cómo impacta su vida: tranquilidad, tiempo, autoestima, rendimiento.  \n- Usa microhistorias (“Pedro ya no tiene que...”).\n\n**4. CTA FINAL (90–120s):**  \n- CTA fuerte recordando el beneficio más emocional.  \n- Cierre con urgencia (“Solo hoy”, “Entrega inmediata”).\n\n**NOTA:** Usa tomas detalladas del producto. Aplica si es físico, digital o SaaS."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2624,4224],"id":"60c47c67-cebd-4822-9d8b-24cade7fa6c3","name":"FAB"},{"parameters":{"promptType":"define","text":"=Titulo del Angulo: {{ $json['Título del Angulo'] }}\n-----\nResumen del Concepto: {{ $json.Resumen }}\n-----\nEsquema del anuncio: {{ $json.Estructura }}\n-----\nSugerencia Visual (Idea de video): {{ $json['Idea de video'] }}\n-----\nTriggers Emocionales: {{ $json['Triggers Emocionales'] }}\n----\nSesgos Cognitivos: {{ $json['Sesgos Cognitivos'] }}\n----\nTecnicas de Respuesta Directa: {{ $json['Técnicas de respuesta directa'] }}\n----\nDuración Estimada: {{ $json['3. Seleccionar tiempo guión'] }}\n----\nInformación del Producto: {{ $json['Sobre el producto/servicio'][0] }}\n----\nTranscripción del anuncio real que mejor ha funcionado en las campañas hasta ahora: {{ $json['Transcripción del video (from Guion Ganador)'][0] }}\n---\nGenera un guion completo tomando en cuenta toda la información anterior.","messages":{"messageValues":[{"message":"=Actúas como un guionista experto en storytelling emocional orientado a conversión. Tu tarea es crear un VSL que cuente una historia real o ficticia donde el espectador se vea reflejado, experimente un cambio y actúe al final.\n\nCon este brief:\n\n- **Ángulo narrativo**\n- **Resumen del caso o historia**\n- **Emociones del público objetivo**\n- **Producto/solución y resultados reales**\n- **Transcripción de anuncio real que mejor a funcionado**\n\nCrea un guion fluido y humano con esta estructura:\n\n### GUION DE VSL – STORYTELLING:\n\n**1. CONTEXTO EMOCIONAL (0–15s):**  \n- “Recuerdo el día que todo cambió…” o  \n- “Siempre hacía esto hasta que un día…”\n\n**2. CONFLICTO / FRUSTRACIÓN (15–30s):**  \n- Relata los obstáculos. Usa detalles personales: “No dormía bien, discutía a diario…”\n\n**3. PUNTO DE INFLEXIÓN (30–60s):**  \n- Descubre el producto por recomendación o casualidad.  \n- Empieza el cambio: “En solo una semana…”.\n\n**4. RESULTADO (60–90s):**  \n- Muestra el antes y después. Transforma en visual.  \n- Refleja un beneficio real y humano.\n\n**5. CTA (90–120s):**  \n- “Si te ha pasado esto, haz clic aquí.”  \n- Refuerza el resultado posible si toman acción hoy.\n\n**ESTILO:** Íntimo, visual, emocional. Ideal para video testimonial, entrevistas o storytelling puro."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2624,4352],"id":"34eae9d2-adb3-474f-a654-e83202a6bd57","name":"ST + CTA"},{"parameters":{"graphApiVersion":"v22.0","node":"/me/businesses","options":{"queryParameters":{"parameter":[{"name":"fields","value":"id,name,effective_status"}]}}},"id":"bb999aa7-c3d5-4e6a-b61e-d8011ccca7d5","type":"n8n-nodes-base.facebookGraphApi","position":[480,400],"name":"Obtener los business ID de cliente","typeVersion":1,"credentials":{"facebookGraphApi":{"id":"RJAbfJhuCsu09jWy","name":"Facebook Graph Token"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json.id }}","edge":"owned_ad_accounts","options":{"queryParameters":{"parameter":[{"name":"fields","value":"id,name"}]}}},"id":"2fe697ee-a0bd-4ee9-9015-9a4144bb8e94","type":"n8n-nodes-base.facebookGraphApi","position":[864,288],"name":"Obtener Ads Account Owned","typeVersion":1,"credentials":{"facebookGraphApi":{"id":"RJAbfJhuCsu09jWy","name":"Facebook Graph Token"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json.id }}","edge":"client_ad_accounts","options":{"queryParameters":{"parameter":[{"name":"fields","value":"id,name"}]}}},"id":"e588af7f-ca5f-4bdf-8cd6-2aa2b6319f2b","type":"n8n-nodes-base.facebookGraphApi","position":[864,448],"name":"Obtener Ads Account Client","typeVersion":1,"credentials":{"facebookGraphApi":{"id":"RJAbfJhuCsu09jWy","name":"Facebook Graph Token"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json.id }}","edge":"campaigns","options":{"queryParameters":{"parameter":[{"name":"fields","value":"id,name,effective_status"},{"name":"account_name","value":"={{ $json.name }}"}]}}},"id":"9c74fa68-e860-4459-a45d-277b29e7232e","type":"n8n-nodes-base.facebookGraphApi","position":[1328,400],"name":"Obtener campañas","typeVersion":1,"executeOnce":false,"credentials":{"facebookGraphApi":{"id":"RJAbfJhuCsu09jWy","name":"Facebook Graph Token"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"18e0e477-b6b8-4281-8dfe-145d68e70659","type":"n8n-nodes-base.splitOut","position":[640,144],"name":"Separar Business IDs","typeVersion":1},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"55385d2f-88b6-49b8-9707-021811bd3918","type":"n8n-nodes-base.splitOut","position":[1104,160],"name":"Separar Ads Accounts","typeVersion":1},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"px1vrismy3k1r4o","table":"mpgq4mye2y4zkym","options":{"where":""}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[1088,640],"id":"84b658bd-e4e2-490f-a75a-d65aa8866bcf","name":"Clientes Base de Datos","executeOnce":true,"credentials":{"nocoDbApiToken":{"id":"se7v6NLCIdPqGZRi","name":"NocoDB - hrikrdo"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"22a437a9-bc93-46c2-a340-4697bb5a5ad0","type":"n8n-nodes-base.splitOut","position":[1728,400],"name":"Separar Campañas","typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ae9d184-693b-49c1-a971-fc91e1a90522","leftValue":"={{ $json.effective_status }}","rightValue":"ACTIVE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,192],"id":"e3b66689-68eb-4ca2-b910-14843ed25330","name":"Campañas Activas"},{"parameters":{"graphApiVersion":"v22.0","node":"={{$json.id}}","edge":"adsets","options":{"fields":{"field":[{"name":"id"},{"name":"name"},{"name":"effective_status"}]}}},"id":"2e1e803f-8835-4f35-ba2c-a93154dfb791","type":"n8n-nodes-base.facebookGraphApi","position":[2144,400],"name":"Obtener grupo de anuncios","typeVersion":1,"credentials":{"facebookGraphApi":{"id":"RJAbfJhuCsu09jWy","name":"Facebook Graph Token"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"af325298-c9ad-4bd3-a129-f6e64acc29bb","type":"n8n-nodes-base.splitOut","position":[2352,192],"name":"Separar Grupo de Anuncios","typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ae9d184-693b-49c1-a971-fc91e1a90522","leftValue":"={{ $json.effective_status }}","rightValue":"ACTIVE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2560,400],"id":"e29c027e-d511-4d15-8ca2-fba23eb40a14","name":"Grupos de Anuncios Activos"},{"parameters":{"graphApiVersion":"v22.0","node":"={{$json.id}}","edge":"ads","options":{"queryParameters":{"parameter":[{"name":"fields","value":"=id,name,effective_status,creative{image_url,video_id,link_url},insights.date_preset(last_7d){ctr,cpm,cpc,cpp,spend,actions,action_values,impressions,clicks,reach,frequency,cost_per_result,results,conversion_values,conversions,website_purchase_roas,purchase_roas,objective,objective_results,video_p25_watched_actions,video_p50_watched_actions,video_p75_watched_actions,video_p95_watched_actions,video_p100_watched_actions,video_avg_time_watched_actions,video_time_watched_actions,video_play_actions,cost_per_unique_click,cost_per_conversion,cost_per_action_type,cost_per_thruplay,inline_link_clicks,inline_post_engagement,landing_page_view_per_link_click},campaign{id,name},adset{id,name},ad_id,ad_name,adset_id,adset_name,campaign_id,campaign_name,account_id,account_name,account_currency\n"}]}}},"id":"a216a9f9-d367-4933-94e6-cef8f74aa25e","type":"n8n-nodes-base.facebookGraphApi","position":[2960,400],"name":"Obtener Anuncios","typeVersion":1,"credentials":{"facebookGraphApi":{"id":"RJAbfJhuCsu09jWy","name":"Facebook Graph Token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4ae9d184-693b-49c1-a971-fc91e1a90522","leftValue":"={{ $json.effective_status }}","rightValue":"ACTIVE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"86d803d1-ea76-4821-95bc-5d067020578a","leftValue":"={{ $json.insights }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"0fdee496-8fd3-4e20-835d-7152dd90df26","leftValue":"={{ $json.insights.data[0].impressions }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3344,400],"id":"ea80541a-3563-4f4c-b72d-0cf25503770f","name":"Anuncios Activos"},{"parameters":{"authentication":"nocoDbApiToken","operation":"create","projectId":"px1vrismy3k1r4o","table":"mvimcfrcteg364j","fieldsUi":{"fieldValues":[{"fieldName":"Ad ID","fieldValue":"={{ $json.id }}"},{"fieldName":"Ad Name","fieldValue":"={{ $json['Ad Name'] }}"},{"fieldName":"Campaign Name","fieldValue":"={{ $json['Campaign Name'] }}"},{"fieldName":"=AdSet Name","fieldValue":"={{ $json['AdSet Name'] }}"},{"fieldName":"Active Status","fieldValue":"={{ $json['Active Status'] }}"},{"fieldName":"Mejores Ads","binaryData":true},{"fieldName":"Alcance","fieldValue":"={{ $json.Alcance }}"},{"fieldName":"Impresiones","fieldValue":"={{ $json.Impresiones }}"},{"fieldName":"Clics","fieldValue":"={{ $json.Clics }}"},{"fieldName":"Spend","fieldValue":"={{ $json.Spend }}"},{"fieldName":"CPC","fieldValue":"={{ $json.CPC }}"},{"fieldName":"CPM","fieldValue":"={{ $json.CPM }}"},{"fieldName":"Conversions","fieldValue":"={{ $json.Conversions }}"},{"fieldName":"Conversion Value","fieldValue":"={{ $json['Conversion Value'] }}"},{"fieldName":"Video ID","fieldValue":"={{ $json['Video ID'] }}"},{"fieldName":"Frecuencia","fieldValue":"={{ $json.Frecuencia }}"},{"fieldName":"Tiempo medio visto","fieldValue":"={{ $json['Tiempo medio visto'] }}"},{"fieldName":"Tiempo visto 25%","fieldValue":"={{ $json['Tiempo visto 25%'] }}"},{"fieldName":"Objetivo","fieldValue":"={{ $json.Objetivo }}"},{"fieldName":"account_id","fieldValue":"={{ $json.account_id }}"},{"fieldName":"Fecha","fieldValue":"={{ new Date().toISOString().split('T')[0] }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[4992,304],"id":"52be3cdf-500d-40c5-bc3f-70f49b7a1f46","name":"NocoDB","executeOnce":false,"credentials":{"nocoDbApiToken":{"id":"se7v6NLCIdPqGZRi","name":"NocoDB - hrikrdo"}}},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":8}]}},"id":"5cf8c3a0-169f-407c-8e22-f5599736b325","type":"n8n-nodes-base.scheduleTrigger","position":[320,880],"name":"Desencadenador de programación","typeVersion":1.2,"disabled":true},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"9783c9f1-c304-4859-a5ed-d6b0577f42cf","type":"n8n-nodes-base.splitOut","position":[3392,1200],"name":"Dividir salida","typeVersion":1},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3024,1200],"id":"5e62e5df-93a2-4ade-93d0-97a50e327c3f","name":"Espera3","webhookId":"627a9f05-6a54-4197-a97f-dffd8c184f73"},{"parameters":{"assignments":{"assignments":[{"id":"28d7bfb5-4d2b-4133-880e-b8c2f6455346","name":"Ad ID","value":"={{ $json.id }}","type":"string"},{"id":"3385c600-4d4d-4756-b04c-dcc2815e7e95","name":"Ad Name","value":"={{ $json.name }}","type":"string"},{"id":"11e2bbb6-7422-4e0e-8e03-3532d6f11d5b","name":"Campaign Name","value":"={{ $json.campaign.name }}","type":"string"},{"id":"bc300bdf-3df1-4dbc-b64a-1decd34e0caf","name":"AdSet Name","value":"={{ $json.adset.name }}","type":"string"},{"id":"cf3b0615-d5ff-4f20-9690-146d3bd1a0b2","name":"Active Status","value":"={{ $json.effective_status }}","type":"string"},{"id":"c50c53c9-b36b-4940-8e04-466b88ed7966","name":"Impresiones","value":"={{ $json.insights.data[0].impressions }}","type":"string"},{"id":"885107c2-dd41-41ac-9519-1c548cd1b9d1","name":"Clicks","value":"={{ $json.insights.data[0].clicks }}","type":"string"},{"id":"8c771e20-750a-4b83-8d8b-7b9f98fefacd","name":"Spend","value":"={{ $json.insights.data[0].spend }}","type":"string"},{"id":"517e1d58-2e92-464a-af9a-58319d0f74d5","name":"CPC","value":"={{ $json.insights.data[0].cpc }}","type":"string"},{"id":"754fb45a-8973-48bc-894d-be2d8cdbb224","name":"CPM","value":"={{ $json.insights.data[0].cpm }}","type":"string"},{"id":"9bb4617b-267e-4d99-94c8-0794871fd33e","name":"Conversions","value":"={{ $json.insights.data[0].actions[16].value }}","type":"string"},{"id":"12b30ca9-189b-4023-8def-c8df4a6ef91a","name":"Conversion Value","value":"={{ $json.insights.data[0].actions[16].value*$json.insights.data[0].action_values[3].value }}","type":"string"},{"id":"09951900-5588-4685-9c05-5e08a02c808b","name":"Video ID","value":"={{ $json.creative.video_id }}","type":"string"},{"id":"5c6e1ac1-a754-4a69-81df-e35fdfb3d182","name":"Frecuencia","value":"={{ $json.insights.data[0].frequency }}","type":"string"},{"id":"db2b4e3e-cb98-4ec3-9373-89627b795dd3","name":"Tiempo medio visto","value":"={{ $json.insights.data[0].video_avg_time_watched_actions[0].value }}","type":"number"},{"id":"7a411378-b859-4614-904b-73eece34e1bb","name":"Tiempo visto 25%","value":"={{ $json.insights.data[0].video_p25_watched_actions[0].value }}","type":"string"},{"id":"c421f920-24f9-4688-9b37-31c287daf3d4","name":"account_id","value":"={{ $json.account_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3904,1008],"id":"8c54938f-8109-4aa5-9e05-1ca66e2444a4","name":"Editar campos"},{"parameters":{"graphApiVersion":"v22.0","node":"/me/businesses","options":{"queryParameters":{"parameter":[{"name":"fields","value":"id,name,effective_status"}]}}},"id":"f40ee5e0-58c4-48bf-aa1a-c71ca4553251","type":"n8n-nodes-base.facebookGraphApi","position":[512,1152],"name":"Obtener los business ID de cliente1","typeVersion":1,"credentials":{"facebookGraphApi":{"id":"RJAbfJhuCsu09jWy","name":"Facebook Graph Token"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json.id }}","edge":"owned_ad_accounts","options":{"queryParameters":{"parameter":[{"name":"fields","value":"id,name"}]}}},"id":"6c9cd3b7-d255-4cc5-98d3-e20d38caf482","type":"n8n-nodes-base.facebookGraphApi","position":[880,1024],"name":"Obtener Ads Account Owned1","typeVersion":1,"credentials":{"facebookGraphApi":{"id":"RJAbfJhuCsu09jWy","name":"Facebook Graph Token"}}},{"parameters":{"graphApiVersion":"v22.0","node":"={{ $json.id }}","edge":"client_ad_accounts","options":{"queryParameters":{"parameter":[{"name":"fields","value":"id,name"}]}}},"id":"b2f20d3d-5c70-4b79-8668-72587e82fae5","type":"n8n-nodes-base.facebookGraphApi","position":[880,1184],"name":"Obtener Ads Account Client1","typeVersion":1,"credentials":{"facebookGraphApi":{"id":"RJAbfJhuCsu09jWy","name":"Facebook Graph Token"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Obtener el ID de cuenta de la campaña activa\nconst cuenta = $json['ID Account Meta'];\n\n// Verificar que la cuenta no sea null o string vacío\nif (!cuenta || typeof cuenta !== 'string' || cuenta.trim() === '') {\n  return null; // ⬅️ Descartar si el valor es null, undefined o vacío\n}\n\n// Obtener array de cuentas activas (también filtradas para evitar nulls)\nconst cuentasActivas = $items('cuentas_activas1')\n  .map(item => item.json['ID Account Meta'])\n  .filter(id => !!id && typeof id === 'string' && id.trim() !== '');\n\n// Verificar si la cuenta está en la lista\nif (cuentasActivas.includes(cuenta)) {\n  return $json;\n}\n\nreturn null;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,1120],"id":"f25e3b80-262c-44b3-b3f6-2c93e0d559c0","name":"Code3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf472380-1e43-43a1-ad20-565cef0afcff","leftValue":"={{ $json.Estado }}","rightValue":"Activo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,928],"id":"07a94be2-2013-435f-9f8f-9522ceb12a9e","name":"cuentas_activas1"},{"parameters":{"assignments":{"assignments":[{"id":"e8adcb33-63b3-411f-8c8b-e9634028ab68","name":"ID Account Meta","value":"={{ $json['ID Account Meta'] }}","type":"string"},{"id":"9c70fc30-4565-4a34-b662-ba7fbf34c15b","name":"Proyecto","value":"={{ $json.Proyecto }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1760,944],"id":"394d867f-44bb-4b7f-9364-a74528337523","name":"ID Cuentas Activas1"},{"parameters":{"graphApiVersion":"v22.0","node":"=act_{{ $json[\"ID Account Meta\"] }}","edge":"campaigns","options":{"queryParameters":{"parameter":[{"name":"fields","value":"id,name,effective_status"}]}}},"id":"1a4d0d6c-97a0-4e13-953b-4ed9a45a4a5e","type":"n8n-nodes-base.facebookGraphApi","position":[1920,1152],"name":"Obtener campañas1","typeVersion":1,"executeOnce":false,"credentials":{"facebookGraphApi":{"id":"RJAbfJhuCsu09jWy","name":"Facebook Graph Token"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"09541b2f-75f1-4aa4-a872-daa07a5f09d1","type":"n8n-nodes-base.splitOut","position":[672,880],"name":"Separar Business IDs1","typeVersion":1},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"498775eb-9199-40d3-884b-8a8bfbb684c6","type":"n8n-nodes-base.splitOut","position":[1120,912],"name":"Separar Ads Accounts1","typeVersion":1},{"parameters":{"authentication":"nocoDbApiToken","operation":"getAll","projectId":"px1vrismy3k1r4o","table":"mpgq4mye2y4zkym","options":{"where":""}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[1280,1120],"id":"c079286c-c68e-4217-9b36-10f7ecc2a7ee","name":"Clientes Base de Datos1","executeOnce":true,"credentials":{"nocoDbApiToken":{"id":"se7v6NLCIdPqGZRi","name":"NocoDB - hrikrdo"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"ad7faf7a-5334-48fb-90fc-a8c3b05a4707","type":"n8n-nodes-base.splitOut","position":[2080,960],"name":"Separar Campañas1","typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ae9d184-693b-49c1-a971-fc91e1a90522","leftValue":"={{ $json.effective_status }}","rightValue":"ACTIVE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2240,1168],"id":"6ca7a00a-a9e3-42f5-9047-672df85062b5","name":"Campañas Activas1"},{"parameters":{"graphApiVersion":"v22.0","node":"={{$json.id}}","edge":"adsets","options":{"fields":{"field":[{"name":"id"},{"name":"name"},{"name":"effective_status"}]}}},"id":"d300e11e-b705-4ab4-bdac-224466713e1e","type":"n8n-nodes-base.facebookGraphApi","position":[2464,992],"name":"Obtener grupo de anuncios1","typeVersion":1,"credentials":{"facebookGraphApi":{"id":"RJAbfJhuCsu09jWy","name":"Facebook Graph Token"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"id":"25531eb5-c7a6-452c-90ab-5f37bf4d4cdc","type":"n8n-nodes-base.splitOut","position":[2640,1184],"name":"Separar Grupo de Anuncios1","typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ae9d184-693b-49c1-a971-fc91e1a90522","leftValue":"={{ $json.effective_status }}","rightValue":"ACTIVE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2832,1008],"id":"753951b3-24f6-4aa3-8643-3fad90d23454","name":"Grupos de Anuncios Activos1"},{"parameters":{"graphApiVersion":"v22.0","node":"={{$json.id}}","edge":"ads","options":{"queryParameters":{"parameter":[{"name":"fields","value":"=id,name,effective_status,creative{image_url,video_id,link_url},insights.date_preset(this_month){ctr,cpm,cpc,cpp,spend,actions,action_values,impressions,clicks,reach,frequency,cost_per_result,results,conversion_values,conversions,website_purchase_roas,purchase_roas,objective,objective_results,video_p25_watched_actions,video_p50_watched_actions,video_p75_watched_actions,video_p95_watched_actions,video_p100_watched_actions,video_avg_time_watched_actions,video_time_watched_actions,video_play_actions,cost_per_unique_click,cost_per_conversion,cost_per_action_type,cost_per_thruplay,inline_link_clicks,inline_post_engagement,landing_page_view_per_link_click},campaign{id,name},adset{id,name},ad_id,ad_name,adset_id,adset_name,campaign_id,campaign_name,account_id,account_name,account_currency\n"}]}}},"id":"35de90c3-ccc3-473c-af54-92ebc14ffb1b","type":"n8n-nodes-base.facebookGraphApi","position":[3200,1008],"name":"Obtener Anuncios1","typeVersion":1,"credentials":{"facebookGraphApi":{"id":"RJAbfJhuCsu09jWy","name":"Facebook Graph Token"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4ae9d184-693b-49c1-a971-fc91e1a90522","leftValue":"={{ $json.effective_status }}","rightValue":"ACTIVE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"86d803d1-ea76-4821-95bc-5d067020578a","leftValue":"={{ $json.insights }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}},{"id":"0fdee496-8fd3-4e20-835d-7152dd90df26","leftValue":"={{ $json.insights.data[0].impressions }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3552,1008],"id":"92501503-9325-4633-a92f-c48013627f0e","name":"Anuncios Activos1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"119650e0-fb37-48e1-bb87-efd4cdd29434","leftValue":"={{ $json.creative.video_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3712,1200],"id":"8a3d8405-cc6e-4319-b989-d25b8e1999eb","name":"Contenido en Video1"},{"parameters":{"authentication":"nocoDbApiToken","operation":"create","projectId":"px1vrismy3k1r4o","table":"mdkx6qdlkc3smbk","fieldsUi":{"fieldValues":[{"fieldName":"Ad ID","fieldValue":"={{ $json['Ad ID'] }}"},{"fieldName":"Ad Name","fieldValue":"={{ $json['Ad Name'] }}"},{"fieldName":"Campaign Name","fieldValue":"={{ $json['Campaign Name'] }}"},{"fieldName":"=AdSet Name","fieldValue":"={{ $json['AdSet Name'] }}"},{"fieldName":"=Active Status","fieldValue":"={{ $json['Active Status'] }}"},{"fieldName":"Mejores Ads","binaryData":true},{"fieldName":"Impresiones","fieldValue":"={{ $json.Impresiones }}"},{"fieldName":"Clicks","fieldValue":"={{ $json.Clicks }}"},{"fieldName":"Spend","fieldValue":"={{ $json.Spend }}"},{"fieldName":"CPC","fieldValue":"={{ $json.CPC }}"},{"fieldName":"CPM","fieldValue":"={{ $json.CPM }}"},{"fieldName":"Conversions","fieldValue":"={{ $json.Conversions }}"},{"fieldName":"Conversion Value","fieldValue":"={{ $json['Conversion Value'] }}"},{"fieldName":"Video ID","fieldValue":"={{ $json['Video ID'] }}"},{"fieldName":"Frecuencia","fieldValue":"={{ $json.Frecuencia }}"},{"fieldName":"Tiempo medio visto","fieldValue":"={{ $json['Tiempo medio visto'] }}"},{"fieldName":"Tiempo visto 25%","fieldValue":"={{ $json['Tiempo visto 25%'] }}"},{"fieldName":"Fecha","fieldValue":"={{ new Date().toLocaleDateString('es-ES').split('/').join('-') }}"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[4160,1104],"id":"2a90654a-6b80-4f21-9e80-ee398ed8c86f","name":"NocoDB1","credentials":{"nocoDbApiToken":{"id":"se7v6NLCIdPqGZRi","name":"NocoDB - hrikrdo"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.insights.data[0].objective }}","rightValue":"OUTCOME_LEADS","operator":{"type":"string","operation":"equals"},"id":"c1e5a8f7-4aea-4a0a-9cd4-114d3bc5e0d1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Leads"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f3157c7e-460d-4700-966a-4e6a3c2a2dcc","leftValue":"={{ $json.insights.data[0].objective }}","rightValue":"OUTCOME_ENGAGEMENT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Mensajes"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"237a06e2-252b-4b70-a31b-cddf4eb75bfb","leftValue":"={{ $json.insights.data[0].objective }}","rightValue":"OUTCOME_SALES","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ventas"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3520,192],"id":"2a1e5264-b7b0-42a1-acda-37bee257a6d4","name":"Switch2"},{"parameters":{"assignments":{"assignments":[{"id":"e0e598a9-02a4-4c21-bf50-389d9714fd6c","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"872ba2b9-8e5a-4ee2-8661-f097425bf622","name":"Ad Name","value":"={{ $json.name }}","type":"string"},{"id":"8b61f30b-e277-4ad0-ae10-e9479c3e0d8f","name":"Campaign Name","value":"={{ $json.campaign.name }}","type":"string"},{"id":"50bde425-ab28-44e2-8254-051792cab29a","name":"AdSet Name","value":"={{ $json.adset.name }}","type":"string"},{"id":"edafd966-39d4-411b-9276-9cd20c091904","name":"Active Status","value":"={{ $json.effective_status }}","type":"string"},{"id":"01965f66-e4b3-488a-bcc3-26aabb8848dd","name":"Alcance","value":"={{ $json.insights.data[0].reach || 0 }}","type":"number"},{"id":"b4507a0f-372a-4844-b89d-ba93385f1a7d","name":"Impresiones","value":"={{ $json.insights.data[0].impressions || 0 }}","type":"string"},{"id":"7fa559e0-be33-437e-9329-b25bafbfd16c","name":"Clics","value":"={{ $json.insights.data[0].clicks || 0 }}","type":"string"},{"id":"4622835b-99b2-42f9-822f-11824ccba992","name":"Spend","value":"={{ $json.insights.data[0].spend || 0 }}","type":"string"},{"id":"ca2b2cec-24a6-4e5a-8491-4bbe9d35d5e1","name":"CPC","value":"={{ $json.insights.data[0].cpc || 0 }}","type":"string"},{"id":"17ec11ea-bd96-48ff-b7b7-0208d6164228","name":"CPM","value":"={{ $json.insights.data[0].cpm || 0 }}","type":"string"},{"id":"3214f937-6327-41d4-8c5a-068062f439d1","name":"Conversions","value":"={{ $json.insights?.data?.[0]?.results?.[0]?.values?.[0]?.value || 0 }}","type":"number"},{"id":"9c606f17-5951-4327-a2e1-d8450cc83e1e","name":"Conversion Value","value":"={{ $json.insights?.data?.[0]?.cost_per_result?.[0]?.values?.[0]?.value || 0 }}","type":"number"},{"id":"ef5d4fe3-dc10-4195-ad99-73a48484baca","name":"Video ID","value":"={{ $json.creative?.video_id || 0 }}","type":"string"},{"id":"2736fff8-6eb8-409c-a0e2-a507da97d97e","name":"Frecuencia","value":"={{ $json.insights?.data?.[0]?.frequency || 0 }}","type":"string"},{"id":"02df049a-4468-4b10-93b0-61780d3c4828","name":"Tiempo medio visto","value":"={{ $json.insights?.data?.[0]?.video_avg_time_watched_actions?.[0]?.value || 0 }}","type":"number"},{"id":"b1e58755-a44d-48f4-8f3e-fe3b68bb4e18","name":"Tiempo visto 25%","value":"={{ $json.insights?.data?.[0]?.video_p25_watched_actions?.[0]?.value || 0 }}","type":"number"},{"id":"5cb9f162-7126-4cd9-9340-ce9490ef2104","name":"account_id","value":"={{ $json.account_id }}","type":"string"},{"id":"fcbdd335-90ea-491c-9cee-f05cd048bff4","name":"Objetivo","value":"={{ $json.insights.data[0].objective }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3840,272],"id":"9b42bd4c-1028-42d5-bd10-a78a113ebd9e","name":"Mensajes"},{"parameters":{"assignments":{"assignments":[{"id":"e0e598a9-02a4-4c21-bf50-389d9714fd6c","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"872ba2b9-8e5a-4ee2-8661-f097425bf622","name":"Ad Name","value":"={{ $json.name }}","type":"string"},{"id":"8b61f30b-e277-4ad0-ae10-e9479c3e0d8f","name":"Campaign Name","value":"={{ $json.campaign.name }}","type":"string"},{"id":"50bde425-ab28-44e2-8254-051792cab29a","name":"AdSet Name","value":"={{ $json.adset.name }}","type":"string"},{"id":"edafd966-39d4-411b-9276-9cd20c091904","name":"Active Status","value":"={{ $json.effective_status }}","type":"string"},{"id":"01965f66-e4b3-488a-bcc3-26aabb8848dd","name":"Alcance","value":"={{ $json.insights.data[0].reach || 0 }}","type":"number"},{"id":"b4507a0f-372a-4844-b89d-ba93385f1a7d","name":"Impresiones","value":"={{ $json.insights.data[0].impressions || 0 }}","type":"string"},{"id":"7fa559e0-be33-437e-9329-b25bafbfd16c","name":"Clics","value":"={{ $json.insights.data[0].clicks || 0 }}","type":"string"},{"id":"4622835b-99b2-42f9-822f-11824ccba992","name":"Spend","value":"={{ $json.insights.data[0].spend || 0 }}","type":"string"},{"id":"ca2b2cec-24a6-4e5a-8491-4bbe9d35d5e1","name":"CPC","value":"={{ $json.insights.data[0].cpc || 0 }}","type":"string"},{"id":"17ec11ea-bd96-48ff-b7b7-0208d6164228","name":"CPM","value":"={{ $json.insights.data[0].cpm || 0 }}","type":"string"},{"id":"3214f937-6327-41d4-8c5a-068062f439d1","name":"Conversions","value":"={{ $json.insights?.data?.[0]?.results?.[0]?.values?.[0]?.value || 0 }}","type":"number"},{"id":"9c606f17-5951-4327-a2e1-d8450cc83e1e","name":"Conversion Value","value":"={{ $json.insights?.data?.[0]?.cost_per_result?.[0]?.values?.[0]?.value || 0 }}","type":"number"},{"id":"ef5d4fe3-dc10-4195-ad99-73a48484baca","name":"Video ID","value":"={{ $json.creative?.video_id || 0 }}","type":"string"},{"id":"2736fff8-6eb8-409c-a0e2-a507da97d97e","name":"Frecuencia","value":"={{ $json.insights?.data?.[0]?.frequency || 0 }}","type":"string"},{"id":"02df049a-4468-4b10-93b0-61780d3c4828","name":"Tiempo medio visto","value":"={{ $json.insights?.data?.[0]?.video_avg_time_watched_actions?.[0]?.value || 0 }}","type":"number"},{"id":"b1e58755-a44d-48f4-8f3e-fe3b68bb4e18","name":"Tiempo visto 25%","value":"={{ $json.insights?.data?.[0]?.video_p25_watched_actions?.[0]?.value || 0 }}","type":"number"},{"id":"5cb9f162-7126-4cd9-9340-ce9490ef2104","name":"account_id","value":"={{ $json.account_id }}","type":"string"},{"id":"b3ccdc64-77d3-429b-bea2-2943d6725aaa","name":"Objetivo","value":"={{ $json.insights.data[0].objective }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3840,80],"id":"712f66e1-e0a5-4ad9-8092-7f57f4d2df8e","name":"Leads1"},{"parameters":{"assignments":{"assignments":[{"id":"e0e598a9-02a4-4c21-bf50-389d9714fd6c","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"872ba2b9-8e5a-4ee2-8661-f097425bf622","name":"Ad Name","value":"={{ $json.name }}","type":"string"},{"id":"8b61f30b-e277-4ad0-ae10-e9479c3e0d8f","name":"Campaign Name","value":"={{ $json.campaign.name }}","type":"string"},{"id":"50bde425-ab28-44e2-8254-051792cab29a","name":"AdSet Name","value":"={{ $json.adset.name }}","type":"string"},{"id":"edafd966-39d4-411b-9276-9cd20c091904","name":"Active Status","value":"={{ $json.effective_status }}","type":"string"},{"id":"01965f66-e4b3-488a-bcc3-26aabb8848dd","name":"Alcance","value":"={{ $json.insights.data[0].reach || 0 }}","type":"number"},{"id":"b4507a0f-372a-4844-b89d-ba93385f1a7d","name":"Impresiones","value":"={{ $json.insights.data[0].impressions || 0 }}","type":"string"},{"id":"7fa559e0-be33-437e-9329-b25bafbfd16c","name":"Clics","value":"={{ $json.insights.data[0].clicks || 0 }}","type":"string"},{"id":"4622835b-99b2-42f9-822f-11824ccba992","name":"Spend","value":"={{ $json.insights.data[0].spend || 0 }}","type":"string"},{"id":"ca2b2cec-24a6-4e5a-8491-4bbe9d35d5e1","name":"CPC","value":"={{ $json.insights.data[0].cpc || 0 }}","type":"string"},{"id":"17ec11ea-bd96-48ff-b7b7-0208d6164228","name":"CPM","value":"={{ $json.insights.data[0].cpm || 0 }}","type":"string"},{"id":"3214f937-6327-41d4-8c5a-068062f439d1","name":"Conversions","value":"={{ $json.insights?.data?.[0]?.results?.[0]?.values?.[0]?.value || 0 }}","type":"number"},{"id":"9c606f17-5951-4327-a2e1-d8450cc83e1e","name":"Conversion Value","value":"={{ $json.insights?.data?.[0]?.cost_per_result?.[0]?.values?.[0]?.value || 0 }}","type":"number"},{"id":"ef5d4fe3-dc10-4195-ad99-73a48484baca","name":"Video ID","value":"={{ $json.creative?.video_id || 0 }}","type":"string"},{"id":"2736fff8-6eb8-409c-a0e2-a507da97d97e","name":"Frecuencia","value":"={{ $json.insights?.data?.[0]?.frequency || 0 }}","type":"string"},{"id":"02df049a-4468-4b10-93b0-61780d3c4828","name":"Tiempo medio visto","value":"={{ $json.insights?.data?.[0]?.video_avg_time_watched_actions?.[0]?.value || 0 }}","type":"number"},{"id":"b1e58755-a44d-48f4-8f3e-fe3b68bb4e18","name":"Tiempo visto 25%","value":"={{ $json.insights?.data?.[0]?.video_p25_watched_actions?.[0]?.value || 0 }}","type":"number"},{"id":"5cb9f162-7126-4cd9-9340-ce9490ef2104","name":"account_id","value":"={{ $json.account_id }}","type":"string"},{"id":"d8164361-d1bd-4995-9171-b9299cb7540f","name":"Objetivo","value":"={{ $json.insights.data[0].objective }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3840,448],"id":"3e308c8d-d8e7-4da3-8bd6-dacc6108c44e","name":"Ventas"},{"parameters":{"assignments":{"assignments":[{"id":"4f2ee752-7769-410c-887d-1ea0e9344ad1","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"eff88b14-ab88-4bdb-baf8-908673c30ca0","name":"Ad Name","value":"={{ $json['Ad Name'] }}","type":"string"},{"id":"bf8af260-f7ef-417d-8d3a-a8a6bf48ed53","name":"Campaign Name","value":"={{ $json['Campaign Name'] }}","type":"string"},{"id":"3d21ca23-05fd-4620-9973-6d4e5b710eba","name":"AdSet Name","value":"={{ $json['AdSet Name'] }}","type":"string"},{"id":"44e3b9e5-9030-41fb-84ee-d221f67e94fe","name":"Active Status","value":"={{ $json['Active Status'] }}","type":"string"},{"id":"bc43be3f-983a-40b3-9cb6-93625800789d","name":"Alcance","value":"={{ $json.Alcance }}","type":"number"},{"id":"956d79e5-da34-4842-8ade-8e37fca424e4","name":"Impresiones","value":"={{ $json.Impresiones }}","type":"string"},{"id":"4d266bf1-c7e4-433e-9558-106f385d4276","name":"Clics","value":"={{ $json.Clics }}","type":"string"},{"id":"46927b55-23a6-47ee-9917-0a412e920bd3","name":"Spend","value":"={{ $json.Spend }}","type":"string"},{"id":"8d2a4535-6a07-4657-a5d1-c8bb04a539fe","name":"CPC","value":"={{ $json.CPC }}","type":"string"},{"id":"ddbf9960-1808-49d9-8969-b6fe55afbf2b","name":"CPM","value":"={{ $json.CPM }}","type":"string"},{"id":"6acf5220-435a-4e1e-9ac6-e9cc35f5c1a1","name":"Conversions","value":"={{ $json.Conversions }}","type":"number"},{"id":"021bd363-2778-4639-acc1-1a366623fc03","name":"Conversion Value","value":"={{ $json['Conversion Value'] }}","type":"number"},{"id":"61b866e4-7c13-4861-ad9b-fb3b89aa72cf","name":"Video ID","value":"={{ $json['Video ID'] }}","type":"string"},{"id":"36b4d64d-6aa4-4008-9b76-7c876dcd50a3","name":"Frecuencia","value":"={{ $json.Frecuencia }}","type":"string"},{"id":"8b781111-fe6d-448a-ae16-4f295359129e","name":"Tiempo medio visto","value":"={{ $json['Tiempo medio visto'] }}","type":"number"},{"id":"40394757-3aee-4036-9a34-10f3f5ddf7c3","name":"Tiempo visto 25%","value":"={{ $json['Tiempo visto 25%'] }}","type":"number"},{"id":"951251c9-9962-44ad-99a1-fd57565d9567","name":"account_id","value":"={{ $json.account_id }}","type":"string"},{"id":"cab4e252-8ddb-4a95-8fd5-f08f4e4db3e4","name":"Objetivo","value":"={{ $json.Objetivo }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4704,304],"id":"1dac78ea-0118-42a0-a869-6c8dcdfa4052","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4160,160],"id":"3ca278ca-7d7f-4c17-af07-e249b8906faf","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[4448,304],"id":"f0b1ab09-001a-4dfc-93ae-f61f7571221e","name":"Merge1"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  json: {\n    ...$json,\n    data: $json.data.map(campaña => ({\n      ...campaña,\n      account_name: $node[\"Separar Ads Accounts\"].json.name,\n      account_id: $node[\"Separar Ads Accounts\"].json.id\n    }))\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,192],"id":"61d93833-ef35-45a7-8fa0-0747a319551f","name":"Add Account Name"}],"connections":{"Facebook Graph API10":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Scrap basico","type":"main","index":0}]]},"Code1":{"main":[[{"node":"If7","type":"main","index":0}]]},"If7":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Airtable10":{"main":[[{"node":"Facebook Graph API10","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Airtable11","type":"main","index":0}]]},"Desencadenador de programación2":{"main":[[{"node":"Obtener cuentas de anuncios FB","type":"main","index":0}]]},"Dividir salida6":{"main":[[{"node":"Obtener campañas de anuncios","type":"main","index":0}]]},"Dividir salida7":{"main":[[{"node":"Condición9","type":"main","index":0}]]},"Dividir salida8":{"main":[[{"node":"Condición10","type":"main","index":0}]]},"Dividir salida9":{"main":[[{"node":"Condición6","type":"main","index":0}]]},"Espera":{"main":[[{"node":"Obtener contenido de anuncios FB","type":"main","index":0}]]},"Condición9":{"main":[[{"node":"Obtener conjuntos de anuncios FB","type":"main","index":0}]]},"Condición10":{"main":[[{"node":"Espera","type":"main","index":0}]]},"Editar campos6":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Condición6":{"main":[[{"node":"Editar campos6","type":"main","index":0}]]},"Obtener cuentas de anuncios FB":{"main":[[{"node":"Dividir salida6","type":"main","index":0}]]},"Obtener campañas de anuncios":{"main":[[{"node":"Dividir salida7","type":"main","index":0}]]},"Obtener conjuntos de anuncios FB":{"main":[[{"node":"Dividir salida8","type":"main","index":0}]]},"Obtener contenido de anuncios FB":{"main":[[{"node":"Dividir salida9","type":"main","index":0}]]},"Desencadenador de programación1":{"main":[[{"node":"Obtener los business ID de cliente","type":"main","index":0}]]},"Dividir salida15":{"main":[[{"node":"Anuncios Activos","type":"main","index":0}]]},"Espera2":{"main":[[{"node":"Obtener Anuncios","type":"main","index":0}]]},"Scrap basico":{"main":[[{"node":"Contenido","type":"main","index":0}]]},"Contenido":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Airtable10","type":"main","index":0}]]},"Descripción del Producto e Investigación de Clientes":{"main":[[{"node":"Code","type":"main","index":0}]]},"Editar Campos 2":{"main":[[{"node":"Descripción del Producto e Investigación de Clientes","type":"main","index":0}]]},"Editar Campos":{"main":[[{"node":"Separar Array","type":"main","index":0}]]},"Separar Array":{"main":[[{"node":"Crear Angulo","type":"main","index":0}]]},"Parser Salida Estructurada":{"ai_outputParser":[[{"node":"Generar Ángulos","type":"ai_outputParser","index":0}]]},"Generar Ángulos":{"main":[[{"node":"Editar Campos","type":"main","index":0}]]},"Obtener Producto1":{"main":[[{"node":"Generar Ángulos","type":"main","index":0}]]},"Cadena LLM – Revisar Guion":{"main":[[{"node":"Actualizar Guion Revisado","type":"main","index":0}]]},"Obtener Guion":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Obtener Guion Original":{"main":[[{"node":"Cadena LLM – Revisar Guion","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Obtener Producto","type":"main","index":0}],[{"node":"Obtener Producto1","type":"main","index":0}],[{"node":"Obtener Guion","type":"main","index":0}],[{"node":"Obtener Guion Original","type":"main","index":0}]]},"Crear Angulo":{"main":[[{"node":"Actualizar","type":"main","index":0}]]},"Obtener Producto":{"main":[[{"node":"Editar Campos 2","type":"main","index":0}]]},"Code":{"main":[[{"node":"Actualizar Detalles del Producto","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Generar Ángulos","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AIDA","type":"ai_languageModel","index":0},{"node":"PAS","type":"ai_languageModel","index":0},{"node":"4Ps","type":"ai_languageModel","index":0},{"node":"FAB","type":"ai_languageModel","index":0},{"node":"ST + CTA","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"Cadena LLM – Revisar Guion","type":"ai_languageModel","index":0}]]},"Switch":{"main":[[{"node":"AIDA","type":"main","index":0}],[{"node":"PAS","type":"main","index":0}],[{"node":"4Ps","type":"main","index":0}],[{"node":"FAB","type":"main","index":0}],[{"node":"ST + CTA","type":"main","index":0}]]},"AIDA":{"main":[[{"node":"Actualizar1","type":"main","index":0}]]},"PAS":{"main":[[{"node":"Actualizar1","type":"main","index":0}]]},"4Ps":{"main":[[{"node":"Actualizar1","type":"main","index":0}]]},"FAB":{"main":[[{"node":"Actualizar1","type":"main","index":0}]]},"ST + CTA":{"main":[[{"node":"Actualizar1","type":"main","index":0}]]},"Obtener los business ID de cliente":{"main":[[{"node":"Separar Business IDs","type":"main","index":0}]]},"Obtener Ads Account Owned":{"main":[[{"node":"Separar Ads Accounts","type":"main","index":0}]]},"Obtener Ads Account Client":{"main":[[{"node":"Separar Ads Accounts","type":"main","index":0}]]},"Obtener campañas":{"main":[[{"node":"Add Account Name","type":"main","index":0}]]},"Separar Business IDs":{"main":[[{"node":"Obtener Ads Account Owned","type":"main","index":0},{"node":"Obtener Ads Account Client","type":"main","index":0}]]},"Separar Ads Accounts":{"main":[[{"node":"Obtener campañas","type":"main","index":0}]]},"Separar Campañas":{"main":[[{"node":"Campañas Activas","type":"main","index":0}]]},"Campañas Activas":{"main":[[{"node":"Obtener grupo de anuncios","type":"main","index":0}]]},"Obtener grupo de anuncios":{"main":[[{"node":"Separar Grupo de Anuncios","type":"main","index":0}]]},"Separar Grupo de Anuncios":{"main":[[{"node":"Grupos de Anuncios Activos","type":"main","index":0}]]},"Grupos de Anuncios Activos":{"main":[[{"node":"Espera2","type":"main","index":0}]]},"Obtener Anuncios":{"main":[[{"node":"Dividir salida15","type":"main","index":0}]]},"Anuncios Activos":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Desencadenador de programación":{"main":[[{"node":"Obtener los business ID de cliente1","type":"main","index":0}]]},"Dividir salida":{"main":[[{"node":"Anuncios Activos1","type":"main","index":0}]]},"Espera3":{"main":[[{"node":"Obtener Anuncios1","type":"main","index":0}]]},"Editar campos":{"main":[[{"node":"NocoDB1","type":"main","index":0}]]},"Obtener los business ID de cliente1":{"main":[[{"node":"Separar Business IDs1","type":"main","index":0}]]},"Obtener Ads Account Owned1":{"main":[[{"node":"Separar Ads Accounts1","type":"main","index":0}]]},"Obtener Ads Account Client1":{"main":[[{"node":"Separar Ads Accounts1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"ID Cuentas Activas1","type":"main","index":0}]]},"cuentas_activas1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"ID Cuentas Activas1":{"main":[[{"node":"Obtener campañas1","type":"main","index":0}]]},"Obtener campañas1":{"main":[[{"node":"Separar Campañas1","type":"main","index":0}]]},"Separar Business IDs1":{"main":[[{"node":"Obtener Ads Account Owned1","type":"main","index":0},{"node":"Obtener Ads Account Client1","type":"main","index":0}]]},"Separar Ads Accounts1":{"main":[[{"node":"Clientes Base de Datos1","type":"main","index":0}]]},"Clientes Base de Datos1":{"main":[[{"node":"cuentas_activas1","type":"main","index":0}]]},"Separar Campañas1":{"main":[[{"node":"Campañas Activas1","type":"main","index":0}]]},"Campañas Activas1":{"main":[[{"node":"Obtener grupo de anuncios1","type":"main","index":0}]]},"Obtener grupo de anuncios1":{"main":[[{"node":"Separar Grupo de Anuncios1","type":"main","index":0}]]},"Separar Grupo de Anuncios1":{"main":[[{"node":"Grupos de Anuncios Activos1","type":"main","index":0}]]},"Grupos de Anuncios Activos1":{"main":[[{"node":"Espera3","type":"main","index":0}]]},"Obtener Anuncios1":{"main":[[{"node":"Dividir salida","type":"main","index":0}]]},"Anuncios Activos1":{"main":[[{"node":"Contenido en Video1","type":"main","index":0}]]},"Contenido en Video1":{"main":[[{"node":"Editar campos","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Leads1","type":"main","index":0}],[{"node":"Mensajes","type":"main","index":0}],[{"node":"Ventas","type":"main","index":0}]]},"Leads1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Mensajes":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Ventas":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Edit Fields":{"main":[[{"node":"NocoDB","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Add Account Name":{"main":[[{"node":"Separar Campañas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1f275975-b1a9-46da-bdb4-4b05aef5b845","triggerCount":0,"tags":[]}