origen-ads-meta-co-7V5DzBYuoelho3Oy.json
{"createdAt":"2025-09-09T01:30:12.930Z","updatedAt":"2025-09-09T14:13:20.957Z","id":"7V5DzBYuoelho3Oy","name":"Origen Ads Meta CO","active":true,"isArchived":false,"nodes":[{"parameters":{"page":{"__rl":true,"value":"121792031765954","mode":"id"},"form":{"__rl":true,"value":"1283877649945726","mode":"list","cachedResultName":"A19 - Sep 2025 - Metrajes + Ciudades - V1"},"options":{}},"type":"n8n-nodes-base.facebookLeadAdsTrigger","typeVersion":1,"position":[304,1136],"id":"e6ae48c1-14d6-455b-9317-38f1ae181e00","name":"Facebook Lead Ads Trigger","webhookId":"d302308e-cd8c-4b0f-9ca3-508baa4e2bec","credentials":{"facebookLeadAdsOAuth2Api":{"id":"8r4zSQYaCp1Kxlvt","name":"Facebook Lead Ads account"}}},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[512,1136],"id":"0a3b42de-275c-4e07-88f8-45ff7a9ac60a","name":"Wait","webhookId":"3c8bbedf-f2ae-42b1-9d8c-76906f20968a"},{"parameters":{"authentication":"appToken","email":"={{ $json.data.email }}","additionalFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"origen_ads","value":"={{ $json.ad.name }}"}]}},"options":{"resolveData":false}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[720,1136],"id":"01ddc92c-5ba2-4653-bc17-a8a13b60898f","name":"Create or update a contact","credentials":{"hubspotAppToken":{"id":"WFe9t8Ad8RqNFLGN","name":"HubSpot App Token account"}}}],"connections":{"Facebook Lead Ads Trigger":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Create or update a contact","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3484f020-d0c3-439b-9bd7-18d312980339","triggerCount":1,"tags":[]}