origen-ads-meta-pa-3QOiIJaboReDUjic.json
{"createdAt":"2025-09-08T19:09:18.036Z","updatedAt":"2025-09-09T05:44:13.656Z","id":"3QOiIJaboReDUjic","name":"Origen Ads Meta PA","active":true,"isArchived":false,"nodes":[{"parameters":{"page":{"__rl":true,"value":"121792031765954","mode":"id"},"form":{"__rl":true,"value":"814677794264296","mode":"list","cachedResultName":"A19 - Sep 2025 - Precios - V1"},"options":{}},"type":"n8n-nodes-base.facebookLeadAdsTrigger","typeVersion":1,"position":[304,1136],"id":"042b27ef-6a66-47de-9f32-b634449342cc","name":"Facebook Lead Ads Trigger","webhookId":"b1ef8062-686e-43fb-8a00-d6fa9c4a30f0","credentials":{"facebookLeadAdsOAuth2Api":{"id":"8r4zSQYaCp1Kxlvt","name":"Facebook Lead Ads account"}}},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[512,1136],"id":"19f60af0-81df-4057-8d7a-c4411902c9a0","name":"Wait","webhookId":"ed24c7bc-e89b-423c-a15e-6efe261e6272"},{"parameters":{"authentication":"appToken","email":"={{ $json.data.email }}","additionalFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"origen_ads","value":"={{ $json.ad.name }}"}]}},"options":{"resolveData":false}},"type":"n8n-nodes-base.hubspot","typeVersion":2.1,"position":[720,1136],"id":"2b2349fc-87d1-42b7-a09f-f5925694b270","name":"Create or update a contact","credentials":{"hubspotAppToken":{"id":"WFe9t8Ad8RqNFLGN","name":"HubSpot App Token account"}}}],"connections":{"Facebook Lead Ads Trigger":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Create or update a contact","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Facebook Lead Ads Trigger":[{"json":{"id":"1817515005785491","data":{"cuéntanos_de_ti":"interesado_en_comprar","estás_buscando":"comprar_para_vivir","modelos_disponibles":"3_habitaciones_(desde_$476,000)","email":"oaduffis@gmail.com","phone_number":"+50767542084","first_name":"Osmonf","last_name":"Duffis"},"form":{"id":"1575432279801716","name":"A19 - May 2025 - Precios - V1","locale":"es_LA","status":"ACTIVE"},"ad":{"id":"120230269385710459","name":"P - Video - Johnny - Ago 2025 - V1"},"adset":{"id":"120211247236070459","name":"Deportes"},"page":{"name":"Desarrolladora áurea","id":"121792031765954"},"created_time":"2025-09-09T00:11:28+0000"}}]},"versionId":"0d574458-86c6-48c0-8f49-3f2ac672642c","triggerCount":1,"tags":[]}