token-recreate---meta-vs5yj1irbfhJdlf8.json
{"createdAt":"2025-08-13T15:45:58.591Z","updatedAt":"2025-09-27T22:45:52.219Z","id":"vs5yj1irbfhJdlf8","name":"Token Recreate - Meta","active":true,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"app_id","value":"456837324185162"},{"name":"app_secret","value":"efa50ab34718b0991dbf9dae71a13884"},{"name":"long_lived_token","value":"={{ $json.Token }}"}]},"options":{}},"id":"dca3f387-cb1d-4f42-b7e0-1846a90cc1ad","name":"Set Credentials","type":"n8n-nodes-base.set","typeVersion":1,"position":[480,0]},{"parameters":{"url":"=https://graph.facebook.com/v18.0/oauth/access_token?grant_type=fb_exchange_token&client_id={{$json.app_id}}&client_secret={{$json.app_secret}}&fb_exchange_token={{$json.long_lived_token}}","options":{}},"id":"281bfeec-cd02-4a77-a45b-e6efdb22766d","name":"Renovar Token","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[704,0]},{"parameters":{"functionCode":"const token = items[0].json.access_token;\nlet expiresInRaw = items[0].json.expires_in;\n\n// Normaliza expires_in (acepta números o strings tipo \"3600s\")\nconst expiresIn = Number(String(expiresInRaw ?? \"\").match(/\\d+(\\.\\d+)?/)?.[0]);\n\nconst now = new Date();\nlet expirationDate = null;\nlet diasRestantes = null;\n\n// Si expires_in es válido, calcula fecha de expiración\nif (Number.isFinite(expiresIn)) {\n  // Ojo: si tu API entrega ms en lugar de segundos, quita el *1000\n  expirationDate = new Date(now.getTime() + expiresIn * 1000);\n\n  if (!isNaN(expirationDate)) {\n    diasRestantes = Math.floor((expirationDate - now) / (1000 * 60 * 60 * 24));\n  }\n}\n\nreturn [{\n  json: {\n    token: token,\n    expires_in: Number.isFinite(expiresIn) ? expiresIn : null,\n    fecha_generado: now.toISOString().split(\"T\")[0],\n    fecha_expiracion: (expirationDate && !isNaN(expirationDate))\n      ? expirationDate.toISOString().split(\"T\")[0]\n      : null, // evita el error Invalid time value\n    dias_restantes: diasRestantes\n  }\n}];\n"},"id":"f4b4e17d-6cea-499e-8679-2159b07c00d1","name":"Extraer Token","type":"n8n-nodes-base.function","typeVersion":1,"position":[928,0]},{"parameters":{"authentication":"nocoDbApiToken","operation":"update","projectId":"px1vrismy3k1r4o","table":"ml5qlgn4llrerqu","fieldsUi":{"fieldValues":[{"fieldName":"Token","fieldValue":"={{ $json.token }}"},{"fieldName":"fecha_creacion","fieldValue":"={{ $json.fecha_generado }}"},{"fieldName":"fecha_expiracion","fieldValue":"={{ $json.fecha_expiracion }}"},{"fieldName":"Id","fieldValue":"1"}]}},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[1344,0],"id":"2b7187a3-b9e1-4f73-bad9-ee40e83a99da","name":"NocoDB","credentials":{"nocoDbApiToken":{"id":"se7v6NLCIdPqGZRi","name":"NocoDB - hrikrdo"}}},{"parameters":{"assignments":{"assignments":[{"id":"3c59667f-b11a-4f76-80d4-ef0c16e689c5","name":"token","value":"={{ $json.token }}","type":"string"},{"id":"5c4bfe89-c499-4817-bf22-36fa3580a01e","name":"fecha_generado","value":"={{ $json.fecha_generado }}","type":"string"},{"id":"6cff0a1c-8fe4-4d9e-acb4-a449cb4fdc63","name":"fecha_expiracion","value":"={{ $json.fecha_expiracion }}","type":"string"},{"id":"0cb43ca5-ac6a-451e-b0c5-b78a46cbf05b","name":"dias_restantes","value":"={{ $json.dias_restantes }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,0],"id":"d1e70c0b-77ba-4df2-a381-4efd1f99f39c","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"daysInterval":55,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"7e355dea-bb23-4b96-8a74-5c0d004c3098","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,0],"id":"259e307d-4958-4f42-a576-666c0a6273e3","name":"Token_Update"},{"parameters":{"authentication":"nocoDbApiToken","projectId":"px1vrismy3k1r4o","table":"ml5qlgn4llrerqu","id":"1"},"type":"n8n-nodes-base.nocoDb","typeVersion":3,"position":[224,0],"id":"48d6657a-a092-40ce-97cb-04a82363e91a","name":"Token_Meta","credentials":{"nocoDbApiToken":{"id":"se7v6NLCIdPqGZRi","name":"NocoDB - hrikrdo"}}}],"connections":{"Set Credentials":{"main":[[{"node":"Renovar Token","type":"main","index":0}]]},"Renovar Token":{"main":[[{"node":"Extraer Token","type":"main","index":0}]]},"Extraer Token":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"NocoDB","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Token_Meta","type":"main","index":0}]]},"NocoDB":{"main":[[{"node":"Token_Update","type":"main","index":0}]]},"Token_Meta":{"main":[[{"node":"Set Credentials","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[301]}},"meta":null,"pinData":{},"versionId":"a736ae46-d9f5-4a8c-b62e-43b3e6a4a355","triggerCount":1,"shared":[{"createdAt":"2025-08-13T15:45:58.591Z","updatedAt":"2025-08-13T15:45:58.591Z","role":"workflow:owner","workflowId":"vs5yj1irbfhJdlf8","projectId":"CwKCrQjkqCThgTMp"}],"tags":[]}