tracking-de-productos-jTPX3neLIK9IIFys.json
{"createdAt":"2025-11-13T01:32:26.737Z","updatedAt":"2025-11-13T01:37:55.535Z","id":"jTPX3neLIK9IIFys","name":"Tracking de productos","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-704,560],"id":"cf52f72a-cad2-4a22-9d64-c2d7ab7bcb1c","name":"Schedule Trigger"},{"parameters":{"url":"={{ $json['Enlace producto'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,0],"id":"20f1c601-87ae-4668-9457-af3a8bda851a","name":"HTTP Request"},{"parameters":{"html":"={{ $json.data }}","options":{"ignore":"img"}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[480,0],"id":"23f9da7e-f35f-4520-b450-e961bc8d3ffb","name":"Markdown"},{"parameters":{"promptType":"define","text":"={{ $('Markdown').item.json.data }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Eres un extractor de precios de clase mundial. Tu tarea es analizar la página web extraída y devolver exclusivamente el precio del perfume en su presentación de 100ml.\n\nInstrucciones:\n\nDevuelve únicamente el número del precio en formato decimal con coma como separador (por ejemplo, 54,75 en lugar de 54.75).\nNo añadas símbolos, texto adicional ni resúmenes.\nSi hay varias presentaciones del producto, extrae únicamente la de 100ml.\nSi el precio no está disponible, responde con null."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[704,0],"id":"22c51fe3-e1f8-4ec2-a27e-f753d4f10a5e","name":"Basic LLM Chain"},{"parameters":{"jsonSchemaExample":"{\n\t\"Precio\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[864,208],"id":"b3301a55-17c4-44ae-a370-2bf91c1eb93c","name":"Structured Output Parser"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw","mode":"list","cachedResultName":"Perfumes competencia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":165199681,"mode":"list","cachedResultName":"Perfumeria.com","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw/edit#gid=165199681"},"columns":{"mappingMode":"defineBelow","value":{"Nombre producto":"={{ $('Perfumeria.com').item.json['Nombre producto'] }}","Precio del procucto":"={{ $json.output.Precio }}"},"matchingColumns":["Nombre producto"],"schema":[{"id":"Enlace producto","displayName":"Enlace producto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre producto","displayName":"Nombre producto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Precio del procucto","displayName":"Precio del procucto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1072,0],"id":"38c2bd0e-fe69-41ae-a4cc-905e439d1e6f","name":"Google Sheets1"},{"parameters":{"promptType":"define","text":"={{ $json.data.markdown }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Eres un extractor de precios de clase mundial. Tu tarea es analizar la página web extraída y devolver exclusivamente el precio del perfume en su presentación de 100ml.\n\nInstrucciones:\n\nDevuelve únicamente el número del precio en formato decimal con coma como separador (por ejemplo, 54,75 en lugar de 54.75).\nNo añadas símbolos, texto adicional ni resúmenes.\nSi hay varias presentaciones del producto, extrae únicamente la de 100ml.\nSi el precio no está disponible, responde con null."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1120,464],"id":"f985e6ad-579f-4c50-9493-b2e8d107888d","name":"Basic LLM Chain2"},{"parameters":{"jsonSchemaExample":"{\n\t\"Precio\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1200,672],"id":"1ab54817-c9e1-4683-9795-15f5752332be","name":"Structured Output Parser2"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1088,640],"id":"6c36ae34-b967-427c-85f0-43e22ce93303","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"kSBsAtljux6EO2J0","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2544,640],"id":"16ebe9c5-f048-4a70-a667-68e55d7607b2","name":"Wait1","webhookId":"996bb585-bf08-4813-8782-d56903daed20"},{"parameters":{"fieldToSplitOut":"['Enlace producto']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[240,464],"id":"4098ac72-3268-4647-8b6f-57587a87d6d9","name":"Split Out1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7b110c76-e57e-45a2-b98e-8c68e9bc8343","leftValue":"={{ $('Basic LLM Chain2').item.json.output.Precio.replace(\",\",\".\").toNumber() }}","rightValue":"={{ $('Buscar perfumerias').item.json['Precio del procucto'] }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2000,464],"id":"3d9f44a5-6554-499e-a4c5-ff6d96fbe317","name":"If1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[672,208],"id":"4c4605d5-7025-4f60-ac8e-20391358ef2d","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"kSBsAtljux6EO2J0","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"method":"POST","url":"=https://api.firecrawl.dev/v1/scrape","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-6b5f19c187004714b691585c8a7da1d4"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n        \"url\": \"{{ $('Druni').item.json['Enlace producto'] }}\",\n\t\t\"formats\": [ \"markdown\" ]\n\t}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,480],"id":"843b905b-ecb4-406b-938f-93e469bac322","name":"HTTP Request1"},{"parameters":{"operation":"send","phoneNumberId":"532278873304599","recipientPhoneNumber":"‪34722324719‬","textBody":"=*🚨Cambio de precio*\n\nEl precio de *{{ $('Buscar perfumerias').item.json['Nombre producto'] }}* ha bajado en un competidor a *{{ $('Buscar perfumerias').item.json['Precio del procucto'] }}€*\nEnlace: {{ $('Buscar perfumerias').item.json['Enlace producto'] }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[2544,224],"id":"bc6bd9f6-5177-49e7-a659-86851b89467a","name":"WhatsApp Business Cloud","webhookId":"a2c70526-1800-4461-ac28-cdc2b0a70dee","disabled":true},{"parameters":{"promptType":"define","text":"={{ $json.data.markdown }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Eres un extractor de precios de clase mundial. Tu tarea es analizar la página web extraída y devolver exclusivamente el precio del perfume en su presentación de 100ml.\n\nInstrucciones:\n\nDevuelve únicamente el número del precio en formato decimal con coma como separador (por ejemplo, 54,75 en lugar de 54.75).\nNo añadas símbolos, texto adicional ni resúmenes.\nSi hay varias presentaciones del producto, extrae únicamente la de 100ml.\nSi el precio no está disponible, responde con null."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1152,1120],"id":"0ed31ebe-5b42-41a4-a33a-cd59d8aa6783","name":"Basic LLM Chain3"},{"parameters":{"jsonSchemaExample":"{\n\t\"Precio\": \"\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1280,1312],"id":"e90a4200-5026-4483-b98f-c7fff744797c","name":"Structured Output Parser3"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1104,1312],"id":"fc3c2378-5098-41af-b601-d509fb56c948","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"kSBsAtljux6EO2J0","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2608,1344],"id":"d94263fa-47fc-4859-9242-ef225367787d","name":"Wait","webhookId":"996bb585-bf08-4813-8782-d56903daed20"},{"parameters":{"fieldToSplitOut":"['Precio del procucto']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[272,1104],"id":"ff7dc5bc-1948-4c2c-a1d9-78a4e3059d14","name":"Split Out"},{"parameters":{"method":"POST","url":"=https://api.firecrawl.dev/v1/scrape","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-6b5f19c187004714b691585c8a7da1d4"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n        \"url\": \"{{ $('Primor').item.json['Enlace producto'] }}\",\n\t\t\"formats\": [ \"markdown\" ]\n\t}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,1120],"id":"34bb6350-d86f-44d5-bddd-20b7421b9ef3","name":"HTTP Request2"},{"parameters":{"documentId":{"__rl":true,"value":"1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw","mode":"list","cachedResultName":"Perfumes competencia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1484037296,"mode":"list","cachedResultName":"Primor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw/edit#gid=1484037296"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[32,1104],"id":"628ce1e4-e420-4a17-a5c9-d9d404009ffa","name":"Primor","executeOnce":true},{"parameters":{"operation":"send","phoneNumberId":"532278873304599","recipientPhoneNumber":"‪34722324719‬","textBody":"=*🚨Cambio de precio*\n\nEl precio de *{{ $('Buscar perfumerias1').item.json['Nombre producto'] }}* ha bajado en un competidor a *{{ $('Buscar perfumerias1').item.json['Precio del procucto'] }}€*\nEnlace: {{ $('Buscar perfumerias1').item.json['Enlace producto'] }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[2544,864],"id":"5d4ea358-27f5-43b9-86ba-f88bf4a936cc","name":"WhatsApp Business Cloud1","webhookId":"c628ece8-fbe1-41c8-a0c7-0cf32a4dc6ce","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw","mode":"list","cachedResultName":"Perfumes competencia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":165199681,"mode":"list","cachedResultName":"Perfumeria.com","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw/edit#gid=165199681"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,0],"id":"b9621be0-f3fd-46ba-a04b-6f416c308889","name":"Perfumeria.com","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"HxJfTPIQddNNw31O","name":"Google Cloud API"}}},{"parameters":{"documentId":{"__rl":true,"value":"1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw","mode":"list","cachedResultName":"Perfumes competencia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Druni","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,464],"id":"66843cc6-0d96-4518-afa3-63f282805ee1","name":"Druni","executeOnce":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw","mode":"list","cachedResultName":"Perfumes competencia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Druni","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nombre producto":"={{ $('Druni').item.json['Nombre producto'] }}","Precio del procucto":"={{ $json.output.Precio }}"},"matchingColumns":["Nombre producto"],"schema":[{"id":"Enlace producto","displayName":"Enlace producto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre producto","displayName":"Nombre producto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Precio del procucto","displayName":"Precio del procucto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1504,464],"id":"fe7a9cc5-2a22-440f-8b24-e743cb2bda2d","name":"Actualizar Druni","executeOnce":true},{"parameters":{"documentId":{"__rl":true,"value":"1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw","mode":"list","cachedResultName":"Perfumes competencia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":165199681,"mode":"list","cachedResultName":"Perfumeria.com","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw/edit#gid=165199681"},"filtersUI":{"values":[{"lookupColumn":"Nombre producto","lookupValue":"={{ $json['Nombre producto'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1744,464],"id":"db14914d-98a8-4d40-a7b5-3d20f13f3d49","name":"Buscar perfumerias","executeOnce":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw","mode":"list","cachedResultName":"Perfumes competencia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1484037296,"mode":"list","cachedResultName":"Primor","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw/edit#gid=1484037296"},"columns":{"mappingMode":"defineBelow","value":{"Nombre producto":"={{ $('Primor').item.json['Nombre producto'] }}","Precio del procucto":"={{ $json.output.Precio }}"},"matchingColumns":["Nombre producto"],"schema":[{"id":"Enlace producto","displayName":"Enlace producto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre producto","displayName":"Nombre producto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Precio del procucto","displayName":"Precio del procucto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1520,1120],"id":"da979567-d610-4227-b900-93735a4755e0","name":"Actualizar primor","executeOnce":true},{"parameters":{"documentId":{"__rl":true,"value":"1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw","mode":"list","cachedResultName":"Perfumes competencia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":165199681,"mode":"list","cachedResultName":"Perfumeria.com","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KjJtxV3YNvE_LcU2vM7RiYHBhdclUHaf4e5uqTZL-sw/edit#gid=165199681"},"filtersUI":{"values":[{"lookupColumn":"Nombre producto","lookupValue":"={{ $json['Nombre producto'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1728,1120],"id":"cf4201eb-0104-4165-ae79-92680eaaf6e0","name":"Buscar perfumerias1","executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7b110c76-e57e-45a2-b98e-8c68e9bc8343","leftValue":"={{ $('Basic LLM Chain3').item.json.output.Precio.replace(\",\",\".\").toNumber() }}","rightValue":"={{ $json['Precio del procucto'] }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2032,1120],"id":"139dae18-7e28-49be-affa-6b5ce1e9d4a4","name":"If2"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[480,464],"id":"760856b8-fc88-4b86-99ce-91228dbe3fd7","name":"Loop"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[528,1104],"id":"ec244420-bc8d-4b60-8ae5-6d15a2e32fdf","name":"Loop1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Druni","type":"main","index":0},{"node":"Perfumeria.com","type":"main","index":0},{"node":"Primor","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Basic LLM Chain2":{"main":[[{"node":"Actualizar Druni","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Basic LLM Chain2","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain2","type":"ai_languageModel","index":0}]]},"Wait1":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop","type":"main","index":0}]]},"If1":{"main":[[{"node":"WhatsApp Business Cloud","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"HTTP Request1":{"main":[[{"node":"Basic LLM Chain2","type":"main","index":0}]]},"WhatsApp Business Cloud":{"main":[[{"node":"Loop","type":"main","index":0}]]},"Basic LLM Chain3":{"main":[[{"node":"Actualizar primor","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Basic LLM Chain3","type":"ai_outputParser","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Basic LLM Chain3","type":"ai_languageModel","index":0}]]},"Wait":{"main":[[{"node":"Loop1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop1","type":"main","index":0},{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Basic LLM Chain3","type":"main","index":0}]]},"Primor":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"WhatsApp Business Cloud1":{"main":[[{"node":"Loop1","type":"main","index":0}]]},"Perfumeria.com":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Druni":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Actualizar Druni":{"main":[[{"node":"Buscar perfumerias","type":"main","index":0}]]},"Buscar perfumerias":{"main":[[{"node":"If1","type":"main","index":0}]]},"Actualizar primor":{"main":[[{"node":"Buscar perfumerias1","type":"main","index":0}]]},"Buscar perfumerias1":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"WhatsApp Business Cloud1","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Loop":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"Loop1":{"main":[[],[{"node":"HTTP Request2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c889b85b-1db5-4776-b6c5-f0cb62557203","triggerCount":0,"shared":[{"createdAt":"2025-11-13T01:32:26.737Z","updatedAt":"2025-11-13T01:32:26.737Z","role":"workflow:owner","workflowId":"jTPX3neLIK9IIFys","projectId":"CwKCrQjkqCThgTMp"}],"tags":[]}